@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /* body기준 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .logo a {
    width: 202px;
    height: 34px;
    font-size: 0;
    line-height: 0;
    display: block; /* a는 inline요소라 높이 넓이가 안들어감. */
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo_w.png) no-repeat center center / contain;
    content: "";
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-family: 'Eulyoo1945';
    font-size: 24px;
    line-height: 1.2;
    padding: 39px 21px 32px 21px; 
    display: block;
}
header .tnb {
    display: flex;
}
header .tnb .mypage {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin: 0 23px 0 0;
}
header .tnb .mypage::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_266' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_266)'%3E%3Cpath d='M15 13.5714C13.8214 13.5714 12.8125 13.1518 11.9732 12.3125C11.1339 11.4732 10.7143 10.4643 10.7143 9.28571C10.7143 8.10714 11.1339 7.09821 11.9732 6.25893C12.8125 5.41964 13.8214 5 15 5C16.1786 5 17.1875 5.41964 18.0268 6.25893C18.8661 7.09821 19.2857 8.10714 19.2857 9.28571C19.2857 10.4643 18.8661 11.4732 18.0268 12.3125C17.1875 13.1518 16.1786 13.5714 15 13.5714ZM5 23.9014V21.5496C5 20.9599 5.17167 20.4081 5.515 19.8943C5.85857 19.3807 6.3206 18.9819 6.90107 18.6979C8.24917 18.0514 9.5981 17.5665 10.9479 17.2432C12.2976 16.9201 13.6483 16.7586 15 16.7586C16.3517 16.7586 17.7024 16.9201 19.0521 17.2432C20.4019 17.5665 21.7508 18.0514 23.0989 18.6979C23.6794 18.9819 24.1414 19.3807 24.485 19.8943C24.8283 20.4081 25 20.9599 25 21.5496V23.9014H5ZM6.42857 22.4729H23.5714V21.5496C23.5714 21.2327 23.4693 20.9351 23.265 20.6568C23.061 20.3785 22.7785 20.1431 22.4175 19.9507C21.2418 19.3812 20.0295 18.9449 18.7807 18.6418C17.5319 18.3387 16.2717 18.1871 15 18.1871C13.7283 18.1871 12.4681 18.3387 11.2193 18.6418C9.97048 18.9449 8.75821 19.3812 7.5825 19.9507C7.22155 20.1431 6.93905 20.3785 6.735 20.6568C6.53071 20.9351 6.42857 21.2327 6.42857 21.5496V22.4729ZM15 12.1429C15.7857 12.1429 16.4583 11.8631 17.0179 11.3036C17.5774 10.744 17.8571 10.0714 17.8571 9.28571C17.8571 8.5 17.5774 7.82738 17.0179 7.26786C16.4583 6.70833 15.7857 6.42857 15 6.42857C14.2143 6.42857 13.5417 6.70833 12.9821 7.26786C12.4226 7.82738 12.1429 8.5 12.1429 9.28571C12.1429 10.0714 12.4226 10.744 12.9821 11.3036C13.5417 11.8631 14.2143 12.1429 15 12.1429Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
header .tnb .search {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .tnb .search::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_275' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_275)'%3E%3Cpath d='M24.3557 25.1922L16.5288 17.3653C15.9038 17.8974 15.1851 18.3093 14.3726 18.6009C13.5601 18.8926 12.7436 19.0384 11.9232 19.0384C9.92112 19.0384 8.22664 18.3454 6.83977 16.9594C5.4531 15.5733 4.75977 13.8799 4.75977 11.879C4.75977 9.87801 5.45279 8.18311 6.83883 6.79436C8.22487 5.40582 9.91831 4.71155 11.9191 4.71155C13.9202 4.71155 15.6151 5.40488 17.0038 6.79155C18.3924 8.17842 19.0866 9.8729 19.0866 11.875C19.0866 12.7435 18.9328 13.584 18.6251 14.3965C18.3174 15.209 17.9135 15.9037 17.4135 16.4806L25.2404 24.3078L24.3557 25.1922ZM11.9232 17.7884C13.5817 17.7884 14.982 17.2175 16.1238 16.0756C17.2657 14.9339 17.8366 13.5337 17.8366 11.875C17.8366 10.2162 17.2657 8.81603 16.1238 7.67436C14.982 6.53249 13.5817 5.96155 11.9232 5.96155C10.2645 5.96155 8.86424 6.53249 7.72258 7.67436C6.5807 8.81603 6.00977 10.2162 6.00977 11.875C6.00977 13.5337 6.5807 14.9339 7.72258 16.0756C8.86424 17.2175 10.2645 17.7884 11.9232 17.7884Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
/* header가 상단에 고정되었을때- 스크롤되었을때 */
header.fixed {
    position: fixed; /* 꼭 body태그로만 위치조정됨 - 스크롤해도 위치 고정  */
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url(../images/logo.png);
}
header.fixed .tnb .mypage::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_311' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_311)'%3E%3Cpath d='M15 13.5714C13.8214 13.5714 12.8125 13.1518 11.9732 12.3125C11.1339 11.4732 10.7143 10.4643 10.7143 9.28571C10.7143 8.10714 11.1339 7.09821 11.9732 6.25893C12.8125 5.41964 13.8214 5 15 5C16.1786 5 17.1875 5.41964 18.0268 6.25893C18.8661 7.09821 19.2857 8.10714 19.2857 9.28571C19.2857 10.4643 18.8661 11.4732 18.0268 12.3125C17.1875 13.1518 16.1786 13.5714 15 13.5714ZM5 23.9014V21.5496C5 20.9599 5.17167 20.4081 5.515 19.8943C5.85857 19.3807 6.3206 18.9819 6.90107 18.6979C8.24917 18.0514 9.5981 17.5665 10.9479 17.2432C12.2976 16.9201 13.6483 16.7586 15 16.7586C16.3517 16.7586 17.7024 16.9201 19.0521 17.2432C20.4019 17.5665 21.7508 18.0514 23.0989 18.6979C23.6794 18.9819 24.1414 19.3807 24.485 19.8943C24.8283 20.4081 25 20.9599 25 21.5496V23.9014H5ZM6.42857 22.4729H23.5714V21.5496C23.5714 21.2327 23.4693 20.9351 23.265 20.6568C23.061 20.3785 22.7785 20.1431 22.4175 19.9507C21.2418 19.3812 20.0295 18.9449 18.7807 18.6418C17.5319 18.3387 16.2717 18.1871 15 18.1871C13.7283 18.1871 12.4681 18.3387 11.2193 18.6418C9.97048 18.9449 8.75821 19.3812 7.5825 19.9507C7.22155 20.1431 6.93905 20.3785 6.735 20.6568C6.53071 20.9351 6.42857 21.2327 6.42857 21.5496V22.4729ZM15 12.1429C15.7857 12.1429 16.4583 11.8631 17.0179 11.3036C17.5774 10.744 17.8571 10.0714 17.8571 9.28571C17.8571 8.5 17.5774 7.82738 17.0179 7.26786C16.4583 6.70833 15.7857 6.42857 15 6.42857C14.2143 6.42857 13.5417 6.70833 12.9821 7.26786C12.4226 7.82738 12.1429 8.5 12.1429 9.28571C12.1429 10.0714 12.4226 10.744 12.9821 11.3036C13.5417 11.8631 14.2143 12.1429 15 12.1429Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .tnb .search::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_314' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_314)'%3E%3Cpath d='M24.3557 25.1922L16.5288 17.3653C15.9038 17.8974 15.1851 18.3093 14.3726 18.601C13.5601 18.8926 12.7436 19.0385 11.9232 19.0385C9.92112 19.0385 8.22664 18.3454 6.83977 16.9594C5.4531 15.5733 4.75977 13.8799 4.75977 11.8791C4.75977 9.87804 5.45279 8.18314 6.83883 6.79439C8.22487 5.40585 9.91831 4.71158 11.9191 4.71158C13.9202 4.71158 15.6151 5.40491 17.0038 6.79158C18.3924 8.17845 19.0866 9.87293 19.0866 11.875C19.0866 12.7436 18.9328 13.5841 18.6251 14.3966C18.3174 15.2091 17.9135 15.9038 17.4135 16.4806L25.2404 24.3078L24.3557 25.1922ZM11.9232 17.7885C13.5817 17.7885 14.982 17.2175 16.1238 16.0756C17.2657 14.934 17.8366 13.5338 17.8366 11.875C17.8366 10.2163 17.2657 8.81606 16.1238 7.67439C14.982 6.53252 13.5817 5.96158 11.9232 5.96158C10.2645 5.96158 8.86424 6.53252 7.72258 7.67439C6.5807 8.81606 6.00977 10.2163 6.00977 11.875C6.00977 13.5338 6.5807 14.934 7.72258 16.0756C8.86424 17.2175 10.2645 17.7885 11.9232 17.7885Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){ 
    header {
        height: 50px;
    }
    header .logo a {
        width: 96px;
        height: 16px;
        margin: 19px 0 0 0;
    }
    header .gnb .gnb_open {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 17px;
        top: 13px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_197' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_197)'%3E%3Cpath d='M3.5 17.6345V16.1347H20.5V17.6345H3.5ZM3.5 12.75V11.25H20.5V12.75H3.5ZM3.5 7.86523V6.36548H20.5V7.86523H3.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .tnb {
        margin: 0 40px 0 0;
    }
    header .tnb .mypage {
        display: none;
    }
    header .tnb .search {
        width: 24px;
        height: 24px;
    }
    header .tnb .search::before {
        top: 7px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_209' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_209)'%3E%3Cpath d='M19.5425 20.577L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153C7.81038 15.6153 6.36388 15.0235 5.18005 13.84C3.99621 12.6565 3.4043 11.2103 3.4043 9.50152C3.4043 7.79285 3.99605 6.34618 5.17955 5.16152C6.36305 3.97702 7.80921 3.38477 9.51805 3.38477C11.2267 3.38477 12.6734 3.97668 13.858 5.16051C15.0425 6.34435 15.6348 7.79085 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.5963 19.523L19.5425 20.577ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    /* header가 상단에 고정되었을때- 스크롤되었을때 */
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_98_17' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_98_17)'%3E%3Cpath d='M3.5 17.6345V16.1347H20.5V17.6345H3.5ZM3.5 12.75V11.25H20.5V12.75H3.5ZM3.5 7.86523V6.36548H20.5V7.86523H3.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .search::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_98_14' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_98_14)'%3E%3Cpath d='M19.5425 20.577L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153C7.81038 15.6153 6.36388 15.0235 5.18005 13.84C3.99621 12.6565 3.4043 11.2103 3.4043 9.50152C3.4043 7.79285 3.99605 6.34618 5.17955 5.16152C6.36305 3.97702 7.80921 3.38477 9.51805 3.38477C11.2267 3.38477 12.6734 3.97668 13.858 5.16051C15.0425 6.34435 15.6348 7.79085 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.5963 19.523L19.5425 20.577ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*media*/

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li strong {
    font-family: 'Eulyoo1945';
    font-size: 90px;
    line-height: 1.2;
    color: rgba(135,95,69,0.3);
    margin: 317px 0 0 0; 
    display: block;
}
.visual ul li h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    letter-spacing: -0.05em;
    line-height: 1.2;
    color: #fff;
    margin: -47px 0 15px 60px;
}
.visual ul li p {
    font-size: 20px;
    margin: 0 0 0 60px;
}
.visual .btn_prev, .visual .btn_next {
    position: absolute;
    top: 400px;
    z-index: 10;
    width: 100px;
    height: 100px;
    color: rgba(255,255,255,0.5);
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev::before, 
.visual .btn_next::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_252' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect y='100' width='100' height='100' transform='rotate(-90 0 100)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_252)'%3E%3Cpath d='M82.0827 51.4583L23.3327 51.4583L32.8119 60.9375L30.8327 62.9167L17.916 50L30.8327 37.0833L32.8119 39.0625L23.3327 48.5417L82.0827 48.5417L82.0827 51.4583Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_258' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect width='100' height='100' transform='matrix(-1.19249e-08 -1 -1 1.19249e-08 100 100)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_258)'%3E%3Cpath d='M17.9173 51.4583L76.6673 51.4583L67.1881 60.9375L69.1673 62.9167L82.084 50L69.1673 37.0833L67.1881 39.0625L76.6673 48.5417L17.9173 48.5417L17.9173 51.4583Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_prev {
    left: 1%;
}
.visual .btn_next {
    right: 1%;
}
@media screen and (max-width:1400px){
    .visual .btn_prev, .visual .btn_next {
        display: none;

    }
}/*media*/

@media screen and (max-width:640px){ 
    .visual ul li {
        height: 477px;
    }
    .visual ul li strong {
        font-size: 48px;
        margin: 300px 0 0 0; 
    }
    .visual ul li h2 {
        font-size: 35px;
        margin: -25px 0 0 19px;
    }
    .visual ul li p {
        display: none;
    }
}/*media*/
@media screen and (max-width:320px){
    .visual ul li br { display: none; }
} /*media*/
.book {
    margin: 138px 0 0 0;
}
.book .wrapper { 
    position: relative;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 45px;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin: 0 0 30px 0;
}
.book .list {
    margin-left: 321px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.book .list ul li a h3 {
    /* 1줄 제한 - block요소여야함 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
    font-family: 'Eulyoo1945';
    font-size: 25px;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin: 22px 0 8px 0;
}
.book .list ul li a:hover h3 {
    font-weight: 700;
}
.book .list ul li a span {
    color: #875F45;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    margin: 8px 0 0 0;
   /* 2줄 제한 */
    display: block;
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;

}
.book .more {
    position: absolute;
    top: 150px;
    left: 0;
}
.book .more a {
    padding: 7px 63px 7px 18px;
    border: 1px solid #ccc;
    position: relative;
}
.book .more a::after {
    position: absolute;
    right: 13px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_36)'%3E%3Cpath d='M14.2316 10.4166H4.16602V9.58329H14.2316L9.40477 4.75642L9.99935 4.16663L15.8327 9.99996L9.99935 15.8333L9.40477 15.2435L14.2316 10.4166Z' fill='%235B5545'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.book .more a:hover {
    border-color: #875F45;
    background-color: #875F45;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_36)'%3E%3Cpath d='M14.2316 10.4166H4.16602V9.58329H14.2316L9.40477 4.75642L9.99935 4.16663L15.8327 9.99996L9.99935 15.8333L9.40477 15.2435L14.2316 10.4166Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){ 
    .book {
        margin: 76px 0 0 0;
    }
    .book .tit {
        float: none; /* float 해제*/
    }
    .book .tit h2 {
        font-size: 30px;
        margin: 0 0 20px 0;
    }
    .book .tit h2 br { display: none;}
    .book .list {
        margin-left: 0;
        width: calc(100% + 20px);
        /* 오른쪽 wrapper 밖까지 list가 나오게 하기 위해 list에게 100%에 오른쪽 여백 20px을 추가해줌 */
    }
    .book .list ul li {
        width: 132px;
    }
    .book .list ul li a .photo {
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    }
    .book .list ul li a h3 {
        font-size: 16px;
        margin: 10px 0 4px 0;
    }
    .book .list ul li a p {
        display: none;
    }
    .book .more {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
    }
    .book .more a {
        padding: 0;
        border: 0;
        font-size: 0;
        line-height: 0;
    }
    .book .more a::after {
        right: 0;
        top: -10px;
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23875F45'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_114)'%3E%3Cpath d='M14.375 20.625H15.625V15.625H20.625V14.375H15.625V9.375H14.375V14.375H9.375V15.625H14.375V20.625ZM15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6163 25.3644C9.24688 24.774 8.05563 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63562 10.6162C5.22604 9.24687 6.02729 8.05562 7.03938 7.0425C8.05146 6.02937 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3837C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25ZM15 25C17.7917 25 20.1563 24.0313 22.0938 22.0938C24.0313 20.1563 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1563 7.90625 22.0938C9.84375 24.0313 12.2083 25 15 25Z' fill='%23875F45' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .book .more a:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .book .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23875F45'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_114)'%3E%3Cpath d='M14.375 20.625H15.625V15.625H20.625V14.375H15.625V9.375H14.375V14.375H9.375V15.625H14.375V20.625ZM15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6163 25.3644C9.24688 24.774 8.05563 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63562 10.6162C5.22604 9.24687 6.02729 8.05562 7.03938 7.0425C8.05146 6.02937 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3837C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25ZM15 25C17.7917 25 20.1563 24.0313 22.0938 22.0938C24.0313 20.1563 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1563 7.90625 22.0938C9.84375 24.0313 12.2083 25 15 25Z' fill='%23875F45' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E ");
    }
}/*media*/

.interview {
    background-color: #F6F3EE;
    margin: 155px 0 0 0;
    padding: 112px 0 219px 0;
}
.interview .wrapper {
    position: relative;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 45px;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin: 0 0 13px 0;
}
.interview .list {
    margin: 66px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* flex를 주면 li의 길이가 제일 긴것을 기준으로 잡힘. 이걸 리셋하는게 flex-start */
}
.interview .list ul li {
    width: 404px;
    position: relative; /* txt 정렬기준 */
}
.interview .list ul li:nth-child(2) {
    margin-top: 58px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 50px 0 50px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    filter: grayscale(100%);
}
.interview .list ul li a .txt {
    position: absolute;
    left: 0;
    bottom: 26px;  
    width: 100%; /* 감싸고있는 li의 넓이를 상속받음(404px) */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 39px;
    
}
.interview .list ul li a .txt p {
    display: none; 
}
.interview .list ul li a .txt h3 {
    font-family: 'Eulyoo1945';
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    letter-spacing: -0.05em;
} 
.interview .list ul li a .txt span {
    width: 60px;
    height: 60px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.interview .list ul li a .txt span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_117' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_117)'%3E%3Cpath d='M29.125 30.875H15.75V29.125H29.125V15.75H30.875V29.125H44.25V30.875H30.875V44.25H29.125V30.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (min-width:641px){
    .interview .list ul li.on a {
        padding: 0 0 96px 0;
        display: block;
        /* txt가 absolute인데 photo하단으로 내려감 거기까지 a영역이여야함. 
        저기까지 bottom:0으로 배치할 수 있게 하단 여백을 줌*/
    }
    .interview .list ul li.on a .photo img {
        filter: grayscale(0%);
    }
    .interview .list ul li.on a .txt {
        background-color: #875F45;
        color: rgba(255,255,255,0.8);
        position: absolute;
        left: 0;
        bottom: 26px;  
        width: calc(100% - 30px); 
        display: block;
        padding: 41px 39px 43px 39px;
        border-radius: 50px 0 50px 0;
    }
    .interview .list ul li:nth-child(2).on a .txt {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li.on a .txt p {
        display: block;
        margin: 13px 0 15px 0;
        line-height: 1.3;
        height: 2.6em;
        overflow: hidden;
    }
    .interview .list ul li.on a .txt span {
        width: auto;
        height: auto;
        font-size: 15px;
        line-height: 1.3;
        padding: 6px 3px 0 0;
        border-top: 1px solid rgba(255,255,255,0.2);
    }
    .interview .list ul li.on a .txt span::before {
        left: auto;
        right: -24px;
        top: 3px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_117' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_117)'%3E%3Cpath d='M29.125 30.875H15.75V29.125H29.125V15.75H30.875V29.125H44.25V30.875H30.875V44.25H29.125V30.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
}
.interview .more {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 7px 63px 7px 18px;
    border: 1px solid #ccc;
    position: relative;
}
.interview .more a::after {
    position: absolute;
    right: 13px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_36)'%3E%3Cpath d='M14.2316 10.4166H4.16602V9.58329H14.2316L9.40477 4.75642L9.99935 4.16663L15.8327 9.99996L9.99935 15.8333L9.40477 15.2435L14.2316 10.4166Z' fill='%235B5545'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.interview .more a:hover {
    border-color: #875F45;
    background-color: #875F45;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_36)'%3E%3Cpath d='M14.2316 10.4166H4.16602V9.58329H14.2316L9.40477 4.75642L9.99935 4.16663L15.8327 9.99996L9.99935 15.8333L9.40477 15.2435L14.2316 10.4166Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:640px){
    .interview {
        background-color: #F6F3EE;
        margin: 70px 0 0 0;
        padding: 60px 0 70px 0;
    }
    .interview .tit {
        text-align: left;
    }
    .interview .tit h2 {
        font-size: 30px;
        margin: 0 0 25px 0;
    }
    .interview .tit p {
        display: none;
    }
    .interview .more {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 100%;
        text-align: right;
    }
    .interview .more a {
        padding: 0;
        border: 0;
        font-size: 0;
        line-height: 0;
    }
    .interview .more a::after {
        left: auto;
        right: 0;
        top: -10px;
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23875F45'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_114)'%3E%3Cpath d='M14.375 20.625H15.625V15.625H20.625V14.375H15.625V9.375H14.375V14.375H9.375V15.625H14.375V20.625ZM15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6163 25.3644C9.24688 24.774 8.05563 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63562 10.6162C5.22604 9.24687 6.02729 8.05562 7.03938 7.0425C8.05146 6.02937 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3837C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25ZM15 25C17.7917 25 20.1563 24.0313 22.0938 22.0938C24.0313 20.1563 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1563 7.90625 22.0938C9.84375 24.0313 12.2083 25 15 25Z' fill='%23875F45' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .interview .more a:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .interview .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23875F45'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_114)'%3E%3Cpath d='M14.375 20.625H15.625V15.625H20.625V14.375H15.625V9.375H14.375V14.375H9.375V15.625H14.375V20.625ZM15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6163 25.3644C9.24688 24.774 8.05563 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63562 10.6162C5.22604 9.24687 6.02729 8.05562 7.03938 7.0425C8.05146 6.02937 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3837C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25ZM15 25C17.7917 25 20.1563 24.0313 22.0938 22.0938C24.0313 20.1563 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1563 7.90625 22.0938C9.84375 24.0313 12.2083 25 15 25Z' fill='%23875F45' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .interview .list {
        margin: 0;
    }
    .interview .list ul {
        display: block;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2), 
    .interview .list ul li:nth-child(3) {
        margin-top: 0;
        display: none;
    }
    .interview .list ul li a {
        padding: 0 0 23px 0;
        display: block;
    }
    .interview .list ul li a .photo {
        border-radius: 30px 0 30px 0;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0%);
    }
    .interview .list ul li a .txt {
        background-color: #875F45;
        color: rgba(255,255,255,0.8);
        position: absolute;
        left: 0;
        bottom: 0;  
        width: auto; 
        display: block;
        padding: 32px 40px 35px 31px;
        border-radius: 30px 0 30px 0;
    }
    .interview .list ul li a .txt p {
        display: block;
        margin: 8px 0 0 0;
        line-height: 1.3;
        height: 2.6em;
        overflow: hidden;
    }
    .interview .list ul li a .txt h3 {
        font-size: 17px;
        color: #fff;
        line-height: 1.2;
        letter-spacing: -0.05em;
    } 
    .interview .list ul li a .txt span {
        display: none;
    }
}/*media*/






footer {
    margin: 200px 0 0 0;
}