@font-face {
    font-family: 'Paperlogy';
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Paperlogy-4Regular.woff2) format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Paperlogy-7Bold.woff2) format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/Paperlogy-8ExtraBold.woff2) format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'IBM';
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IBMPlexSansKR-Regular.woff2) format('woff2'), url(../fonts/IBMPlexSansKR-Regular.woff) format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'IBM';
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/IBMPlexSansKR-Bold.woff2) format('woff2'), url(../fonts/IBMPlexSansKR-Bold.woff) format('woff');
    font-style: normal;
}
