@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
/* 
    플러그인을 사용할 때 이미 적용되어 있는 css를 변경하려면 
    1. 동일한 이름 앞에 body태그 선택자를 추가하는 방법
        strong
        body strong -- 얘가 우선순위가 더 높음
    2. 속성값 뒤에 !important를 추가. (!important는 해제가 어렵기 때문에 사용시 주의)
*/
.fp_nav {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: var(--txt-color-w80);
    line-height: 2;
    white-space: nowrap;
    padding-left: 15px;
    position: relative;
    transition: 0.5s;
}
.fp_nav ul li a::before {
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 1;
    background-color: #EAEAEA;
    content: "";
    transition: 0.5s;
}
.fp_nav ul li a::after {
    position: absolute;
    left: 3px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--txt-color-w60);
    content: "";
}
.fp_nav ul li.active a,
.fp_nav ul li a:hover {
    color: var(--color-main-mint);
    font-weight: 700;
}
.fp_nav ul li.active a::before,
.fp_nav ul li a:hover::before {
    background-color: var(--color-main-mint);
}
.fp_nav ul li:first-child a::after {
    top: 18px;
    height: calc(100% - 18px);
}
.fp_nav ul li:last-child a::after {
    height: 18px;
}

/* 다크모드 */
.fp_nav.dark ul li a {
    color: #666;
}
.fp_nav.dark ul li a::before {
    background-color: #ccc;
}
.fp_nav.dark ul li a::after {
    background-color: #EDEDED;
}
.fp_nav.dark ul li.active a,
.fp_nav.dark ul li a:hover {
    color: var(--color-main-mint);
}
.fp_nav.dark ul li.active a::before,
.fp_nav.dark ul li a:hover::before {
    background-color: var(--color-main-mint);
}

.quick {
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.quick ul li {
    margin: 10px 0;
}
.quick ul li a, 
.quick ul li button {
    display: block;
    font-size: 15px;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-main-mint);
    text-align: center;
    padding-top: 43px;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.quick ul li button {
    padding-top: 22px;
    background-color: #fff;
    color: var(--color-main-blue);
    transition: 0.5s;
}
.quick ul li a::before,
.quick ul li button::before{
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.quick ul li.q01 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='28' viewBox='0 0 22 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9375 25.4151V19.2306H6.75C4.98106 19.2306 3.47632 18.6104 2.23579 17.3698C0.995264 16.1295 0.375 14.6248 0.375 12.8556C0.375 11.5207 0.773674 10.3138 1.57102 9.23499C2.36837 8.15619 3.39179 7.35436 4.64129 6.82948C4.84482 5.01332 5.53863 3.55675 6.72273 2.45978C7.90706 1.36257 9.33282 0.813965 11 0.813965C12.6672 0.813965 14.0929 1.36257 15.2773 2.45978C16.4614 3.55675 17.1552 5.01332 17.3587 6.82948C18.6172 7.33618 19.6428 8.13353 20.4357 9.22153C21.2286 10.3093 21.625 11.5207 21.625 12.8556C21.625 14.6248 21.0047 16.1295 19.7642 17.3698C18.5237 18.6104 17.0189 19.2306 15.25 19.2306H12.0625V25.4151H19.1458C19.4469 25.4151 19.6992 25.517 19.9027 25.7207C20.1065 25.9245 20.2083 26.1769 20.2083 26.4779C20.2083 26.7792 20.1065 27.0315 19.9027 27.2348C19.6992 27.4383 19.4469 27.5401 19.1458 27.5401H2.85417C2.55312 27.5401 2.30084 27.4382 2.09731 27.2344C1.89355 27.0307 1.79167 26.7782 1.79167 26.4769C1.79167 26.1758 1.89355 25.9236 2.09731 25.72C2.30084 25.5167 2.55312 25.4151 2.85417 25.4151H9.9375ZM6.75 17.1056H15.25C16.4306 17.1056 17.434 16.6924 18.2604 15.866C19.0868 15.0397 19.5 14.0362 19.5 12.8556C19.5 11.9421 19.2194 11.1243 18.6581 10.4023C18.0969 9.68053 17.3859 9.14526 16.525 8.79653L15.3917 8.3223L15.2337 7.0473C15.0828 5.77608 14.6188 4.77355 13.8415 4.03972C13.0642 3.30588 12.117 2.93896 11 2.93896C9.88296 2.93896 8.9358 3.30588 8.15852 4.03972C7.38124 4.77355 6.91717 5.77608 6.76629 7.0473L6.60833 8.3223L5.36592 8.85107C4.54142 9.19981 3.85764 9.73058 3.31458 10.4434C2.77153 11.1562 2.5 11.9603 2.5 12.8556C2.5 14.0362 2.91319 15.0397 3.73958 15.866C4.56597 16.6924 5.56944 17.1056 6.75 17.1056Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick ul li.q02 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9992 21.9375C10.7334 21.9375 10.5108 21.8476 10.3314 21.6678C10.1518 21.4882 10.062 21.2656 10.062 21V12.0168C8.80891 12.0168 7.60776 11.7797 6.45859 11.3053C5.30964 10.8309 4.29443 10.153 3.41297 9.27153C2.53172 8.39008 1.85911 7.37487 1.39516 6.22591C0.931198 5.07695 0.699219 3.8758 0.699219 2.62247V1.85341C0.699219 1.53674 0.806302 1.27122 1.02047 1.05685C1.23464 0.84268 1.50016 0.735596 1.81703 0.735596H2.58609C3.81214 0.735596 4.99922 0.974763 6.14734 1.4531C7.29568 1.93143 8.31047 2.61133 9.19172 3.49278C9.84568 4.14674 10.3821 4.87716 10.8011 5.68403C11.2203 6.49091 11.5204 7.34789 11.7014 8.25497C11.8456 8.00497 12.0062 7.7681 12.1833 7.54435C12.3604 7.3208 12.558 7.10007 12.7761 6.88216C13.6548 6.00216 14.6703 5.32268 15.8223 4.84372C16.9744 4.36455 18.1753 4.12497 19.4248 4.12497H20.1942C20.5109 4.12497 20.7763 4.23216 20.9905 4.44653C21.2048 4.6607 21.312 4.92612 21.312 5.24278V6.01185C21.312 7.26164 21.0724 8.46257 20.5933 9.61466C20.1143 10.7667 19.4348 11.7822 18.5548 12.6609C17.6734 13.5424 16.6634 14.2151 15.5248 14.679C14.3861 15.143 13.1902 15.375 11.937 15.375V21C11.937 21.2656 11.8471 21.4882 11.6673 21.6678C11.4876 21.8476 11.2648 21.9375 10.9992 21.9375ZM10.0742 10.1106C10.0742 9.1106 9.88151 8.15747 9.49609 7.25122C9.11068 6.34497 8.5638 5.53768 7.85547 4.82935C7.14714 4.12101 6.33984 3.57414 5.43359 3.18872C4.52734 2.8033 3.57422 2.6106 2.57422 2.6106C2.57422 3.6106 2.76172 4.56893 3.13672 5.4856C3.51172 6.40226 4.05339 7.21476 4.76172 7.9231C5.47005 8.63143 6.28255 9.1731 7.19922 9.5481C8.11589 9.9231 9.07422 10.1106 10.0742 10.1106ZM11.937 13.5C12.937 13.5 13.8902 13.3125 14.7964 12.9375C15.7027 12.5625 16.5099 12.0208 17.2183 11.3125C17.9266 10.6041 18.4735 9.79164 18.8589 8.87497C19.2443 7.9583 19.437 6.99997 19.437 5.99997C18.437 5.99997 17.4787 6.19268 16.562 6.5781C15.6454 6.96351 14.8329 7.51039 14.1245 8.21872C13.4162 8.92705 12.8745 9.73435 12.4995 10.6406C12.1245 11.5468 11.937 12.5 11.937 13.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick ul li.q03 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1849 22.0357C15.2224 22.0507 15.256 22.0582 15.2858 22.0582C15.3157 22.0582 15.3494 22.0507 15.387 22.0357L22.2499 19.911C22.1902 19.6463 22.0668 19.4433 21.8798 19.302C21.6927 19.1606 21.4811 19.0899 21.2448 19.0899H15.5314C15.0223 19.0899 14.5898 19.0705 14.2337 19.0316C13.8777 18.9927 13.5119 18.9074 13.1365 18.7758L11.3057 18.1767C11.0704 18.1018 10.9013 17.9523 10.7985 17.7281C10.6954 17.5037 10.6813 17.2753 10.7562 17.0427C10.8309 16.81 10.9755 16.6394 11.1902 16.5311C11.4049 16.4226 11.6303 16.4058 11.8666 16.4807L13.3832 17.0124C13.7363 17.1246 14.1313 17.2042 14.568 17.2512C15.0047 17.2983 15.5707 17.3279 16.2661 17.3399H16.5781C16.5781 17.0512 16.5131 16.8021 16.383 16.5927C16.2529 16.3832 16.0816 16.2419 15.8691 16.1686L9.10039 13.6827C9.07784 13.6753 9.05723 13.6698 9.03856 13.6661C9.01989 13.6622 8.99938 13.6602 8.97702 13.6602H6.81869V19.6732L15.1849 22.0357ZM14.7296 23.7499L6.81869 21.4816C6.68549 21.9646 6.41473 22.3523 6.00639 22.6447C5.59806 22.9372 5.16581 23.0834 4.70964 23.0834H3.09439C2.51437 23.0834 2.01785 22.8769 1.60485 22.4639C1.19185 22.0509 0.985352 21.5544 0.985352 20.9744V14.0193C0.985352 13.4395 1.19185 12.943 1.60485 12.53C2.01785 12.117 2.51437 11.9105 3.09439 11.9105H8.96389C9.0862 11.9105 9.21016 11.924 9.33577 11.9508C9.46157 11.9778 9.57824 12.0092 9.68577 12.045L16.4839 14.549C17.0134 14.7448 17.4531 15.0914 17.8031 15.5887C18.1531 16.0861 18.3281 16.6699 18.3281 17.3399H21.2448C22.0825 17.3399 22.7649 17.6103 23.292 18.151C23.8194 18.6916 24.083 19.3934 24.083 20.2566C24.083 20.5871 23.9955 20.8533 23.8205 21.0552C23.6455 21.2572 23.3808 21.4172 23.0263 21.5352L15.9479 23.7318C15.7563 23.7946 15.5551 23.8278 15.3441 23.8315C15.1333 23.8354 14.9285 23.8082 14.7296 23.7499ZM2.73535 20.9744C2.73535 21.0792 2.76899 21.1652 2.83627 21.2325C2.90355 21.2998 2.98959 21.3334 3.09439 21.3334H4.70964C4.81425 21.3334 4.9003 21.3054 4.96777 21.2494C5.03505 21.1932 5.06869 21.1015 5.06869 20.9744V13.6602H3.09439C2.98959 13.6602 2.90355 13.694 2.83627 13.7615C2.76899 13.8287 2.73535 13.9147 2.73535 14.0193V20.9744ZM17.4867 11.9753C17.225 11.9753 16.9677 11.9275 16.7149 11.8318C16.4622 11.7361 16.2312 11.5925 16.0219 11.401L12.8696 8.34083C12.3117 7.80241 11.8424 7.20304 11.4617 6.54271C11.081 5.88237 10.8906 5.16322 10.8906 4.38525C10.8906 3.42178 11.2279 2.60287 11.9024 1.92854C12.5768 1.25401 13.3957 0.916748 14.3591 0.916748C14.9889 0.916748 15.5704 1.06861 16.1036 1.37233C16.637 1.67586 17.0981 2.06251 17.487 2.53229C17.8759 2.06251 18.3369 1.67586 18.8701 1.37233C19.4032 1.06861 19.9847 0.916748 20.6145 0.916748C21.578 0.916748 22.3969 1.25401 23.0712 1.92854C23.7458 2.60287 24.083 3.42178 24.083 4.38525C24.083 5.16322 23.8957 5.88237 23.521 6.54271C23.1463 7.20304 22.68 7.80241 22.1221 8.34083L18.952 11.401C18.7426 11.5925 18.5114 11.7361 18.2584 11.8318C18.0057 11.9275 17.7484 11.9753 17.4867 11.9753ZM17.7337 10.1357L20.8231 7.13829C21.2149 6.75387 21.5645 6.33582 21.8719 5.88412C22.1793 5.43243 22.333 4.9328 22.333 4.38525C22.333 3.90516 22.1666 3.49878 21.8337 3.16608C21.501 2.83319 21.0946 2.66675 20.6145 2.66675C20.2451 2.66675 19.907 2.76319 19.6004 2.95608C19.2938 3.14916 19.023 3.39378 18.7881 3.68992L18.2675 4.31816C18.0666 4.56044 17.807 4.68158 17.4887 4.68158C17.1704 4.68158 16.9096 4.56044 16.7062 4.31816L16.1856 3.68992C15.9507 3.39378 15.6799 3.14916 15.3733 2.95608C15.0668 2.76319 14.7288 2.66675 14.3591 2.66675C13.8791 2.66675 13.4727 2.83319 13.14 3.16608C12.8071 3.49878 12.6406 3.90516 12.6406 4.38525C12.6406 4.9328 12.7944 5.43243 13.1018 5.88412C13.4092 6.33582 13.7588 6.75387 14.1506 7.13829L17.2399 10.1357C17.3074 10.203 17.3898 10.2367 17.487 10.2367C17.5842 10.2367 17.6664 10.203 17.7337 10.1357Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick ul li.q04 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43291 11.564C2.89859 11.564 2.45576 11.3894 2.10443 11.0402C1.75286 10.6908 1.57708 10.249 1.57708 9.71494C1.57708 9.18062 1.7518 8.73768 2.10124 8.38611C2.45045 8.03478 2.89221 7.85911 3.42653 7.85911C3.96085 7.85911 4.40368 8.03383 4.75501 8.38328C5.10658 8.73248 5.28237 9.17425 5.28237 9.70857C5.28237 10.2429 5.10765 10.6857 4.7582 11.037C4.40899 11.3884 3.96723 11.564 3.43291 11.564ZM5.11874 23.6875H17.2422V15.814H14.4089C12.9233 15.814 11.6665 15.3024 10.6384 14.2791C9.6104 13.2555 9.09639 12.0236 9.09639 10.5834C9.09639 9.44105 9.426 8.41621 10.0852 7.50884C10.7447 6.6017 11.592 5.92111 12.6271 5.46707C12.7869 3.95052 13.4172 2.69866 14.518 1.71148C15.6185 0.724303 16.8807 0.230713 18.3047 0.230713C19.7287 0.230713 20.991 0.724303 22.0915 1.71148C23.1922 2.69866 23.8224 3.95052 23.982 5.46707C25.0174 5.92111 25.8646 6.6017 26.5239 7.50884C27.1833 8.41621 27.5131 9.44105 27.5131 10.5834C27.5131 12.0236 26.999 13.2555 25.971 14.2791C24.943 15.3024 23.6862 15.814 22.2006 15.814H19.3672V23.6875H25.3881C25.6891 23.6875 25.9414 23.7894 26.1449 23.9932C26.3487 24.1969 26.4506 24.4493 26.4506 24.7504C26.4506 25.0517 26.3487 25.3039 26.1449 25.5072C25.9414 25.7108 25.6891 25.8125 25.3881 25.8125H3.02101C2.65835 25.8125 2.35424 25.6903 2.10868 25.446C1.86336 25.2016 1.7407 24.8988 1.7407 24.5375V19.4375C1.48098 19.2777 1.20721 19.1119 0.919388 18.9403C0.631333 18.7686 0.487305 18.5167 0.487305 18.1845V14.0432C0.487305 13.7422 0.589187 13.4899 0.79295 13.2864C0.996478 13.0826 1.24876 12.9807 1.5498 12.9807H5.30928C5.61033 12.9807 5.86273 13.0826 6.06649 13.2864C6.27002 13.4899 6.37178 13.7422 6.37178 14.0432V18.1845C6.37178 18.5167 6.22787 18.7686 5.94005 18.9403C5.65224 19.1119 5.37846 19.2777 5.11874 19.4375V23.6875ZM14.4089 13.689H22.2006C23.0886 13.689 23.8419 13.39 24.4605 12.7919C25.0789 12.1939 25.3881 11.4577 25.3881 10.5834C25.3881 9.88235 25.1828 9.25618 24.7722 8.70486C24.3618 8.15378 23.8297 7.73928 23.1759 7.46138L21.9881 6.95988L21.8574 5.72844C21.77 4.78234 21.3903 3.9837 20.7184 3.33251C20.0464 2.68131 19.2418 2.35571 18.3047 2.35571C17.3676 2.35571 16.5629 2.68131 15.8907 3.33251C15.2187 3.9837 14.8392 4.78234 14.7521 5.72844L14.6214 6.95988L13.4335 7.46138C12.7797 7.73928 12.2475 8.15378 11.8369 8.70486C11.4266 9.25618 11.2214 9.88235 11.2214 10.5834C11.2214 11.4577 11.5306 12.1939 12.149 12.7919C12.7673 13.39 13.5206 13.689 14.4089 13.689Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.4539L7.92724 14.5271C7.78874 14.6655 7.61466 14.7363 7.40499 14.7396C7.19549 14.7428 7.01824 14.672 6.87324 14.5271C6.72841 14.3821 6.65599 14.2065 6.65599 14.0001C6.65599 13.7938 6.72841 13.6181 6.87324 13.4731L11.3675 8.97889C11.4612 8.88539 11.5599 8.81939 11.6637 8.78089C11.7676 8.74239 11.8797 8.72314 12.0002 8.72314C12.1207 8.72314 12.2329 8.74239 12.3367 8.78089C12.4406 8.81939 12.5393 8.88539 12.633 8.97889L17.1272 13.4731C17.2656 13.6116 17.3364 13.7857 17.3397 13.9954C17.3429 14.2049 17.2721 14.3821 17.1272 14.5271C16.9822 14.672 16.8066 14.7444 16.6002 14.7444C16.3939 14.7444 16.2182 14.672 16.0732 14.5271L12.0002 10.4539Z' fill='%23014D8B'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
/* 다크 */
.quick.dark ul li button {
    background-color: var(--color-main-blue);
    color: #fff;
}
.quick.dark ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.4536L7.92724 14.5269C7.78874 14.6652 7.61466 14.7361 7.40499 14.7394C7.19549 14.7426 7.01824 14.6717 6.87324 14.5269C6.72841 14.3819 6.65599 14.2062 6.65599 13.9999C6.65599 13.7936 6.72841 13.6179 6.87324 13.4729L11.3675 8.97865C11.4612 8.88515 11.5599 8.81915 11.6637 8.78065C11.7676 8.74215 11.8797 8.7229 12.0002 8.7229C12.1207 8.7229 12.2329 8.74215 12.3367 8.78065C12.4406 8.81915 12.5393 8.88515 12.633 8.97865L17.1272 13.4729C17.2656 13.6114 17.3364 13.7855 17.3397 13.9952C17.3429 14.2046 17.2721 14.3819 17.1272 14.5269C16.9822 14.6717 16.8066 14.7442 16.6002 14.7442C16.3939 14.7442 16.2182 14.6717 16.0732 14.5269L12.0002 10.4536Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .fp_nav {
        display: none;
    }
    .quick {
        display: none;
    }
}
.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100vW;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh;
    background: url(../images/main/popup_bg01.png) no-repeat center center/cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/main/popup_bg01.png);
}
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/main/popup_bg02.png);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/main/popup_bg03.png);
}
.visual .swiper .swiper-slide.popup4 {
    background-image: url(../images/main/popup_bg04.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.visual .swiper .swiper-slide .inner h3 {
    font-family: 'IBM';
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 18px;
}
.visual .swiper .swiper-slide .inner h3 br {
    display: none;
}
.visual .swiper .swiper-slide .inner p {
    font-size: 20px;
    color: var(--txt-color-w80);
}
.visual .swiper .paging {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
.visual .swiper .paging .item {
    width: 25%;
    height: 60px;
    color: var(--txt-color-w80);
    font-family: 'IBM';
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    display: block;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    text-align: center;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    line-height: 60px;
}
.visual .swiper .paging .item.swiper-pagination-bullet-active,
.visual .swiper .paging .item:hover {
    background-color:#0D343D;
    color: #fff;
}
.visual .swiper .paging .item .txt1::before {
    content: "생명의숲";
}
.visual .swiper .paging .item .txt2::before {
    content: "마이트리";
}
.visual .swiper .paging .item .txt3::before {
    content: "고목나무 이야기";
}
.visual .swiper .paging .item .txt4::before {
    content: "자원봉사";
}
@media screen and (max-width:1024px){
    .visual .swiper {
        height: 600px;
    }
    .visual .swiper .swiper-slide {
        height: 600px;
    }
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .visual .swiper .swiper-slide .inner p {
        font-size: 15px;
    }
    .visual .swiper .paging {
        left: 50%;
        bottom: 23px;
        width: auto;
        transform: translateX(-50%);
    }
    .visual .swiper .paging .item {
        width: 35px;
        height: 6px;
        font-size: 0;
        margin: 0;
        border-radius: 3px;
        background-color: rgba(255,255,255,0.5);
        border-width: 0;
        line-height: 0;
        margin: 0 2px;
    }
    .visual .swiper .paging .item.swiper-pagination-bullet-active,
    .visual .swiper .paging .item:hover {
        background-color:var(--color-main-mint);
        width: 56px;
    }
}
@media screen and (max-width:768px){
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 45px;
        margin-bottom: 10px;
    }
    .visual .swiper .swiper-slide .inner h3 br {
        display: block;
    }
    .visual .swiper .swiper-slide .inner p {
        font-size: 13px;
    }
}
@media screen and (max-width:365px){
    .visual .swiper .swiper-slide .inner p {
        padding: 0 2%;
    }
}

.tree {
    background-color: #fff;
}
.forest {
    background-color: seagreen;
    color: #fff;
}
.story {
    background-color: #fff;
}
footer {
    background-color: salmon;
    height: 300px;

}