@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
/* 
    플러그인을 사용할 때 이미 적용되어 있는 css를 변경하려면 
    1. 동일한 이름 앞에 body태그 선택자를 추가하는 방법
        strong
        body strong -- 얘가 우선순위가 더 높음
    2. 속성값 뒤에 !important를 추가. (!important는 해제가 어렵기 때문에 사용시 주의)
*/
.fp_nav {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: #666;
    line-height: 2;
    white-space: nowrap;
}


.section {
    font-size: 70px;
    text-align: center;
}
.visual {
    background-color: darkolivegreen;
    color: #fff;
}
.tree {
    background-color: #fff;
}
.forest {
    background-color: seagreen;
    color: #fff;
}
.story {
    background-color: #fff;
}
footer {
    background-color: salmon;
    height: 300px;

}