/*header와 footer처럼 페이지에 공조응로 배치되는 요소의 css*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    z-index: 999999999;/* 꼭 맨 상단에 배치 */
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #003049;
    text-align: center;
    color: #fff;
}
.skip_nav a:focus {
    top: 100px;
}


header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 18px;
}
header .logo a {
    display: block;
    width: 142px;
    height: 47px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='142' height='48' viewBox='0 0 142 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_16_99)'%3E%3Cpath d='M113.039 11.5041C113.039 11.9043 113.097 12.319 113.257 12.712C113.963 14.4583 115.76 15.5352 118.045 14.6257C118.591 14.4074 133.704 8.31699 133.704 8.31699C133.704 8.31699 127.752 23.4084 127.526 23.9686C126.661 26.1297 127.701 28.0871 129.469 28.742C129.862 28.8875 130.27 28.9603 130.67 28.953C132.118 28.9457 133.391 28.0944 134.017 26.3917C134.112 26.137 141.555 5.69746 141.716 5.20994C141.81 4.91888 141.985 4.2349 141.985 3.76193C141.985 2.7505 141.614 1.79728 140.893 1.07692C140.188 0.363823 139.242 0 138.245 0C137.757 0 137.364 0.0873175 136.768 0.276505C136.411 0.392929 117.223 7.53113 115.586 8.14235C113.949 8.75357 113.039 10.0633 113.046 11.5041' fill='%23ED1C24'/%3E%3Cpath d='M77.0865 23.03V22.5934H65.4515V25.5695H72.2113C70.4504 31.1432 64.1562 34.4176 64.1562 34.4176L65.8371 36.7679C65.8371 36.7679 77.0865 32.1255 77.0865 23.0227V23.03Z' fill='white'/%3E%3Cpath d='M73.4119 42.7928V37.0081H69.2861V43.5278C69.2861 45.5652 70.9088 47.035 73.1354 47.035H85.9201V44.0662H74.8526C73.8485 44.0662 73.4264 43.666 73.4046 42.7928H73.4119Z' fill='white'/%3E%3Cpath d='M76.6211 28.0799V31.0559H81.5327V38.2305H85.6584V22.2805H81.5327V28.0799H76.6211Z' fill='white'/%3E%3Cpath d='M112.173 34.2357H116.299V22.1567H112.173V25.9187H107.873V28.8584H112.173V34.2357Z' fill='white'/%3E%3Cpath d='M19.6323 36.7825H3.92969V43.5277C3.92969 45.5652 5.55234 47.035 7.77893 47.035H20.5491V37.6993C20.5491 37.19 20.1343 36.7825 19.6323 36.7825ZM16.4234 44.0662H9.49617C8.49202 44.0662 8.06271 43.6733 8.04816 42.7928V39.7658H16.4234V44.0662Z' fill='white'/%3E%3Cpath d='M20.8252 22.637V22.4988H3.70372V25.4748H16.5103C16.5103 25.6713 16.5103 25.9187 16.5103 26.1588C16.5103 28.9239 16.372 30.743 16.2993 31.4852H0V34.4613H25.111V31.4852H19.9739C20.2213 30.5538 20.8325 27.6723 20.8325 22.637H20.8252Z' fill='white'/%3E%3Cpath d='M46.4671 38.2814C49.8943 37.5319 52.4265 34.9633 52.4265 31.9218C52.4265 30.2846 51.6916 28.7856 50.4837 27.6287H54.8642V24.6526H46.4671V21.8439H42.3487V24.6526H33.9516V27.6287H38.332C37.1242 28.7856 36.3892 30.2773 36.3892 31.9218C36.3892 34.9706 38.9214 37.5319 42.3559 38.2814V41.2938H31.8633V44.2699H56.967V41.2938H46.4744V38.2814H46.4671ZM40.6241 31.8272C40.6241 29.797 42.3195 28.138 44.4006 28.138C46.4817 28.138 48.1771 29.7898 48.1771 31.8272C48.1771 33.8646 46.4817 35.5163 44.4006 35.5163C42.3195 35.5163 40.6241 33.8646 40.6241 31.8272Z' fill='white'/%3E%3Cpath d='M104.286 33.981H108.28C108.113 33.0132 106.651 25.1983 102.845 22.4915H98.2389L94.6953 34.0756H98.8356L101.193 25.7368C103.18 28.0652 104.147 33.2169 104.278 33.981H104.286Z' fill='white'/%3E%3Cpath d='M105.108 44.1681C104.061 44.1681 103.871 43.8988 103.871 43.0111V42.64H116.307V36.3822C116.307 35.8438 115.914 35.4218 115.354 35.4218H99.8184V38.2887H112.356V39.824H99.9275V43.5277C99.9275 45.6743 101.47 47.035 103.777 47.035H116.576V44.1681H105.108Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_99'%3E%3Crect width='142' height='47.0423' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
/*header에 오버되거나 스크롤을 내려서 고정이 됐을때*/
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1D1D1D;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='142' height='48' viewBox='0 0 142 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M113.051 11.5053C113.051 11.9055 113.109 12.3203 113.269 12.7133C113.975 14.4598 115.772 15.5369 118.057 14.6272C118.603 14.4089 133.718 8.31786 133.718 8.31786C133.718 8.31786 127.765 23.4108 127.54 23.9711C126.674 26.1325 127.714 28.09 129.483 28.745C129.876 28.8905 130.283 28.9633 130.683 28.956C132.132 28.9488 133.405 28.0973 134.031 26.3945C134.126 26.1398 141.57 5.69806 141.73 5.21049C141.825 4.9194 142 4.23534 142 3.76232C142 2.75079 141.628 1.79747 140.908 1.07703C140.202 0.363861 139.256 0 138.259 0C137.771 0 137.379 0.0873266 136.782 0.276534C136.425 0.39297 117.235 7.53192 115.598 8.1432C113.96 8.75449 113.051 10.0644 113.058 11.5053' fill='%23ED1C24'/%3E%3Cpath d='M77.0947 23.0325V22.5958H65.4584V25.5722H72.219C70.4579 31.1466 64.1631 34.4213 64.1631 34.4213L65.8441 36.7718C65.8441 36.7718 77.0947 32.129 77.0947 23.0252V23.0325Z' fill='%23454B52'/%3E%3Cpath d='M73.4191 42.7973V37.012H69.293V43.5323C69.293 45.57 70.9158 47.04 73.1426 47.04H85.9287V44.0709H74.86C73.8558 44.0709 73.4337 43.6706 73.4119 42.7973H73.4191Z' fill='%23454B52'/%3E%3Cpath d='M76.6289 28.0828V31.0592H81.541V38.2345H85.6672V22.2828H81.541V28.0828H76.6289Z' fill='%23454B52'/%3E%3Cpath d='M112.186 34.2394H116.312V22.1592H112.186V25.9215H107.885V28.8615H112.186V34.2394Z' fill='%23454B52'/%3E%3Cpath d='M19.6339 36.7864H3.92969V43.5324C3.92969 45.57 5.55251 47.04 7.77933 47.04H20.5508V37.7033C20.5508 37.1939 20.136 36.7864 19.6339 36.7864ZM16.4247 44.0709H9.49676C8.4925 44.0709 8.06315 43.6779 8.04859 42.7974V39.77H16.4247V44.0709Z' fill='%23454B52'/%3E%3Cpath d='M20.8274 22.6395V22.5012H3.7041V25.4776H16.512C16.512 25.6741 16.512 25.9215 16.512 26.1617C16.512 28.927 16.3737 30.7463 16.301 31.4886H0V34.465H25.1137V31.4886H19.976C20.2234 30.5571 20.8347 27.6753 20.8347 22.6395H20.8274Z' fill='%23454B52'/%3E%3Cpath d='M46.4726 38.2854C49.9001 37.5359 52.4326 34.967 52.4326 31.9251C52.4326 30.2878 51.6976 28.7887 50.4896 27.6316H54.8705V24.6552H46.4726V21.8462H42.3537V24.6552H33.9557V27.6316H38.3366C37.1286 28.7887 36.3936 30.2805 36.3936 31.9251C36.3936 34.9743 38.9261 37.5359 42.3609 38.2854V41.2982H31.8672V44.2746H56.9736V41.2982H46.4798V38.2854H46.4726ZM40.629 31.8305C40.629 29.8002 42.3245 28.141 44.4058 28.141C46.4871 28.141 48.1827 29.7929 48.1827 31.8305C48.1827 33.8682 46.4871 35.5201 44.4058 35.5201C42.3245 35.5201 40.629 33.8682 40.629 31.8305Z' fill='%23454B52'/%3E%3Cpath d='M104.296 33.9846H108.292C108.124 33.0167 106.662 25.201 102.856 22.4939H98.2491L94.7051 34.0792H98.8458L101.204 25.7395C103.19 28.0682 104.158 33.2205 104.289 33.9846H104.296Z' fill='%23454B52'/%3E%3Cpath d='M105.119 44.1727C104.071 44.1727 103.882 43.9035 103.882 43.0157V42.6445H116.318V36.3861C116.318 35.8476 115.925 35.4255 115.365 35.4255H99.8281V38.2928H112.367V39.8283H99.9373V43.5324C99.9373 45.6791 101.48 47.04 103.787 47.04H116.588V44.1727H105.119Z' fill='%23454B52'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px){/* 1025px 이상일 경우 - pc */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 130px;
        position: relative; /* depth2의 정렬기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 100px;
        font-size: 22px;
        font-weight: 600;
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        padding-top: 23px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #C1121F;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 16px; 
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 1px;
        top: 8px;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.89551 11.1041V1.89575H6.29127V2.70825H2.70801V10.2916H10.2913V6.70832H11.1038V11.1041H1.89551ZM5.26427 8.30611L4.69349 7.73532L9.72056 2.70825H7.58301V1.89575H11.1038V5.41658H10.2913V3.27903L5.26427 8.30611Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.89551 11.1041V1.89575H6.29127V2.70825H2.70801V10.2916H10.2913V6.70832H11.1038V11.1041H1.89551ZM5.26427 8.30611L4.69349 7.73532L9.72056 2.70825H7.58301V1.89575H11.1038V5.41659H10.2913V3.27903L5.26427 8.30611Z' fill='%23C1121F' stroke='%23C1121F' stroke-width='0.3'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #C1121F;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -9px;
        top: -2px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #C1121F;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a > span::before {
        position: absolute;
        left: 0;
        bottom: -37px;
        width: 100%;
        height: 2px;
        background-color: #ED1C24;
        content: "";
    }
    header .tnb {
        display: flex;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 22px; /* 아이콘이 들어갈 자리 - 내부여백으로 처리해야 아이콘을 클릭해도 링크가 적용됨 */  
        position: relative;
        margin-right: 25px;
        font-weight: 600;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2497 18.1411L14.583 15.4744V17.625H13.333V13.3334H17.6247V14.5834H15.4532L18.1199 17.25L17.2497 18.1411ZM9.99968 17.9167C8.90454 17.9167 7.87537 17.7089 6.91217 17.2934C5.94898 16.8778 5.11113 16.3139 4.39863 15.6015C3.68613 14.8891 3.12211 14.0514 2.70655 13.0884C2.29085 12.1253 2.08301 11.0964 2.08301 10.0015C2.08301 8.9065 2.29079 7.87726 2.70634 6.91379C3.1219 5.95032 3.68586 5.11226 4.39822 4.39962C5.11058 3.68699 5.94829 3.12275 6.91134 2.70692C7.8744 2.29122 8.90336 2.08337 9.99822 2.08337C11.0932 2.08337 12.1225 2.29122 13.0859 2.70692C14.0494 3.12247 14.8875 3.6865 15.6001 4.399C16.3127 5.1115 16.877 5.94935 17.2928 6.91254C17.7085 7.87574 17.9163 8.9049 17.9163 10C17.9163 10.2512 17.9045 10.5022 17.8807 10.7532C17.857 11.0043 17.8213 11.2554 17.7736 11.5065H16.4901C16.5488 11.2554 16.5929 11.0043 16.6222 10.7532C16.6516 10.5022 16.6663 10.2512 16.6663 10C16.6663 9.69726 16.6463 9.39455 16.6063 9.09192C16.5662 8.78914 16.5034 8.48824 16.418 8.18921H13.3201C13.3725 8.48824 13.4104 8.78914 13.4341 9.09192C13.4575 9.39455 13.4693 9.69726 13.4693 10C13.4693 10.2512 13.4609 10.5022 13.4441 10.7532C13.4271 11.0043 13.4018 11.2554 13.3682 11.5065H12.1182C12.152 11.2554 12.1772 11.0043 12.1941 10.7532C12.2109 10.5022 12.2193 10.2512 12.2193 10C12.2193 9.69726 12.2075 9.39455 12.1841 9.09192C12.1604 8.78914 12.1225 8.48824 12.0703 8.18921H7.92905C7.87683 8.48824 7.83891 8.78935 7.8153 9.09254C7.79183 9.39574 7.78009 9.69893 7.78009 10.0021C7.78009 10.3052 7.79183 10.6076 7.8153 10.9094C7.83891 11.2114 7.87683 11.5118 7.92905 11.8109H10.9932V13.0609H8.21593C8.40065 13.7164 8.63912 14.3454 8.93134 14.9477C9.2237 15.55 9.57981 16.1171 9.99968 16.649C10.2508 16.649 10.5018 16.6343 10.7528 16.605C11.0039 16.5756 11.255 16.547 11.5061 16.5192V17.7869C11.255 17.8147 11.0039 17.8432 10.7528 17.8725C10.5018 17.902 10.2508 17.9167 9.99968 17.9167ZM3.58134 11.8109H6.67926C6.6269 11.5118 6.58891 11.2107 6.5653 10.9075C6.54183 10.6043 6.53009 10.3012 6.53009 9.99796C6.53009 9.6949 6.54183 9.39247 6.5653 9.09067C6.58891 8.78872 6.6269 8.48824 6.67926 8.18921H3.58134C3.49592 8.48824 3.43315 8.78935 3.39301 9.09254C3.35301 9.39574 3.33301 9.69893 3.33301 10.0021C3.33301 10.3052 3.35301 10.6076 3.39301 10.9094C3.43315 11.2114 3.49592 11.5118 3.58134 11.8109ZM4.10551 6.93921H6.92863C7.07211 6.33449 7.26301 5.74955 7.50134 5.18442C7.73954 4.61914 8.0344 4.07907 8.38593 3.56421C7.45106 3.77143 6.61266 4.1699 5.87072 4.75962C5.12863 5.34935 4.54023 6.07587 4.10551 6.93921ZM8.38593 16.4359C8.05051 15.9156 7.76231 15.3729 7.52134 14.8077C7.28037 14.2426 7.08405 13.6603 6.93238 13.0609H4.10551C4.54023 13.9188 5.12995 14.6426 5.87468 15.2323C6.6194 15.8222 7.45648 16.2234 8.38593 16.4359ZM8.21593 6.93921H11.7834C11.6061 6.28324 11.3672 5.65705 11.0668 5.06067C10.7663 4.46442 10.4106 3.89455 9.99968 3.35108C9.58509 3.88303 9.22849 4.45004 8.92988 5.05212C8.63127 5.65421 8.39329 6.28324 8.21593 6.93921ZM13.067 6.93921H15.8938C15.4591 6.07587 14.8707 5.34803 14.1286 4.75567C13.3867 4.16317 12.5483 3.76601 11.6134 3.56421C11.9488 4.08449 12.233 4.62851 12.4659 5.19629C12.6988 5.76421 12.8992 6.34518 13.067 6.93921Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 105px;
        height: 26px;
        line-height: 26px;
        padding-left: 15px;
        border: 1px solid #fff;
        border-radius: 13px;
        font-weight: 600;
        position: relative;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 10px;
        top: 5px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1875 12.8125V2.1875H7.25953V3.125H3.125V11.875H11.875V7.74047H12.8125V12.8125H2.1875ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .tnb .lang:hover{
        color: #C1121F;
        font-weight: 700;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2497 18.1411L14.583 15.4744V17.625H13.333V13.3334H17.6247V14.5834H15.4532L18.1199 17.25L17.2497 18.1411ZM9.99968 17.9167C8.90454 17.9167 7.87537 17.7089 6.91217 17.2934C5.94898 16.8778 5.11113 16.3139 4.39863 15.6015C3.68613 14.8891 3.12211 14.0514 2.70655 13.0884C2.29085 12.1253 2.08301 11.0964 2.08301 10.0015C2.08301 8.9065 2.29079 7.87726 2.70634 6.91379C3.1219 5.95032 3.68586 5.11226 4.39822 4.39962C5.11058 3.68699 5.94829 3.12275 6.91134 2.70692C7.8744 2.29122 8.90336 2.08337 9.99822 2.08337C11.0932 2.08337 12.1225 2.29122 13.0859 2.70692C14.0494 3.12247 14.8875 3.6865 15.6001 4.399C16.3127 5.1115 16.877 5.94935 17.2928 6.91254C17.7085 7.87574 17.9163 8.9049 17.9163 10C17.9163 10.2512 17.9045 10.5022 17.8807 10.7532C17.857 11.0043 17.8213 11.2554 17.7736 11.5065H16.4901C16.5488 11.2554 16.5929 11.0043 16.6222 10.7532C16.6516 10.5022 16.6663 10.2512 16.6663 10C16.6663 9.69726 16.6463 9.39455 16.6063 9.09192C16.5662 8.78914 16.5034 8.48824 16.418 8.18921H13.3201C13.3725 8.48824 13.4104 8.78914 13.4341 9.09192C13.4575 9.39455 13.4693 9.69726 13.4693 10C13.4693 10.2512 13.4609 10.5022 13.4441 10.7532C13.4271 11.0043 13.4018 11.2554 13.3682 11.5065H12.1182C12.152 11.2554 12.1772 11.0043 12.1941 10.7532C12.2109 10.5022 12.2193 10.2512 12.2193 10C12.2193 9.69726 12.2075 9.39455 12.1841 9.09192C12.1604 8.78914 12.1225 8.48824 12.0703 8.18921H7.92905C7.87683 8.48824 7.83891 8.78935 7.8153 9.09254C7.79183 9.39574 7.78009 9.69893 7.78009 10.0021C7.78009 10.3052 7.79183 10.6076 7.8153 10.9094C7.83891 11.2114 7.87683 11.5118 7.92905 11.8109H10.9932V13.0609H8.21593C8.40065 13.7164 8.63912 14.3454 8.93134 14.9477C9.2237 15.55 9.57981 16.1171 9.99968 16.649C10.2508 16.649 10.5018 16.6343 10.7528 16.605C11.0039 16.5756 11.255 16.547 11.5061 16.5192V17.7869C11.255 17.8147 11.0039 17.8432 10.7528 17.8725C10.5018 17.902 10.2508 17.9167 9.99968 17.9167ZM3.58134 11.8109H6.67926C6.6269 11.5118 6.58891 11.2107 6.5653 10.9075C6.54183 10.6043 6.53009 10.3012 6.53009 9.99796C6.53009 9.6949 6.54183 9.39247 6.5653 9.09067C6.58891 8.78872 6.6269 8.48824 6.67926 8.18921H3.58134C3.49592 8.48824 3.43315 8.78935 3.39301 9.09254C3.35301 9.39574 3.33301 9.69893 3.33301 10.0021C3.33301 10.3052 3.35301 10.6076 3.39301 10.9094C3.43315 11.2114 3.49592 11.5118 3.58134 11.8109ZM4.10551 6.93921H6.92863C7.07211 6.33449 7.26301 5.74955 7.50134 5.18442C7.73954 4.61914 8.0344 4.07907 8.38593 3.56421C7.45106 3.77143 6.61266 4.1699 5.87072 4.75962C5.12863 5.34935 4.54023 6.07587 4.10551 6.93921ZM8.38593 16.4359C8.05051 15.9156 7.76231 15.3729 7.52134 14.8077C7.28037 14.2426 7.08405 13.6603 6.93238 13.0609H4.10551C4.54023 13.9188 5.12995 14.6426 5.87468 15.2323C6.6194 15.8222 7.45648 16.2234 8.38593 16.4359ZM8.21593 6.93921H11.7834C11.6061 6.28324 11.3672 5.65705 11.0668 5.06067C10.7663 4.46442 10.4106 3.89455 9.99968 3.35108C9.58509 3.88303 9.22849 4.45004 8.92988 5.05212C8.63127 5.65421 8.39329 6.28324 8.21593 6.93921ZM13.067 6.93921H15.8938C15.4591 6.07587 14.8707 5.34803 14.1286 4.75567C13.3867 4.16317 12.5483 3.76601 11.6134 3.56421C11.9488 4.08449 12.233 4.62851 12.4659 5.19629C12.6988 5.76421 12.8992 6.34518 13.067 6.93921Z' fill='%23C1121F'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artera:hover {
        color: #fff;
        border-color: #C1121F;
        background-color: #C1121F;
    }
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2497 18.1411L14.583 15.4744V17.625H13.333V13.3334H17.6247V14.5834H15.4532L18.1199 17.25L17.2497 18.1411ZM9.99968 17.9167C8.90454 17.9167 7.87537 17.7089 6.91217 17.2934C5.94898 16.8778 5.11113 16.3139 4.39863 15.6015C3.68613 14.8891 3.12211 14.0514 2.70655 13.0884C2.29085 12.1253 2.08301 11.0964 2.08301 10.0015C2.08301 8.9065 2.29079 7.87726 2.70634 6.91379C3.1219 5.95032 3.68586 5.11226 4.39822 4.39962C5.11058 3.68699 5.94829 3.12275 6.91134 2.70692C7.8744 2.29122 8.90336 2.08337 9.99822 2.08337C11.0932 2.08337 12.1225 2.29122 13.0859 2.70692C14.0494 3.12247 14.8875 3.6865 15.6001 4.399C16.3127 5.1115 16.877 5.94935 17.2928 6.91254C17.7085 7.87574 17.9163 8.9049 17.9163 10C17.9163 10.2512 17.9045 10.5022 17.8807 10.7532C17.857 11.0043 17.8213 11.2554 17.7736 11.5065H16.4901C16.5488 11.2554 16.5929 11.0043 16.6222 10.7532C16.6516 10.5022 16.6663 10.2512 16.6663 10C16.6663 9.69726 16.6463 9.39455 16.6063 9.09192C16.5662 8.78914 16.5034 8.48824 16.418 8.18921H13.3201C13.3725 8.48824 13.4104 8.78914 13.4341 9.09192C13.4575 9.39455 13.4693 9.69726 13.4693 10C13.4693 10.2512 13.4609 10.5022 13.4441 10.7532C13.4271 11.0043 13.4018 11.2554 13.3682 11.5065H12.1182C12.152 11.2554 12.1772 11.0043 12.1941 10.7532C12.2109 10.5022 12.2193 10.2512 12.2193 10C12.2193 9.69726 12.2075 9.39455 12.1841 9.09192C12.1604 8.78914 12.1225 8.48824 12.0703 8.18921H7.92905C7.87683 8.48824 7.83891 8.78935 7.8153 9.09254C7.79183 9.39574 7.78009 9.69893 7.78009 10.0021C7.78009 10.3052 7.79183 10.6076 7.8153 10.9094C7.83891 11.2114 7.87683 11.5118 7.92905 11.8109H10.9932V13.0609H8.21593C8.40065 13.7164 8.63912 14.3454 8.93134 14.9477C9.2237 15.55 9.57981 16.1171 9.99968 16.649C10.2508 16.649 10.5018 16.6343 10.7528 16.605C11.0039 16.5756 11.255 16.547 11.5061 16.5192V17.7869C11.255 17.8147 11.0039 17.8432 10.7528 17.8725C10.5018 17.902 10.2508 17.9167 9.99968 17.9167ZM3.58134 11.8109H6.67926C6.6269 11.5118 6.58891 11.2107 6.5653 10.9075C6.54183 10.6043 6.53009 10.3012 6.53009 9.99796C6.53009 9.6949 6.54183 9.39247 6.5653 9.09067C6.58891 8.78872 6.6269 8.48824 6.67926 8.18921H3.58134C3.49592 8.48824 3.43315 8.78935 3.39301 9.09254C3.35301 9.39574 3.33301 9.69893 3.33301 10.0021C3.33301 10.3052 3.35301 10.6076 3.39301 10.9094C3.43315 11.2114 3.49592 11.5118 3.58134 11.8109ZM4.10551 6.93921H6.92863C7.07211 6.33449 7.26301 5.74955 7.50134 5.18442C7.73954 4.61914 8.0344 4.07907 8.38593 3.56421C7.45106 3.77143 6.61266 4.1699 5.87072 4.75962C5.12863 5.34935 4.54023 6.07587 4.10551 6.93921ZM8.38593 16.4359C8.05051 15.9156 7.76231 15.3729 7.52134 14.8077C7.28037 14.2426 7.08405 13.6603 6.93238 13.0609H4.10551C4.54023 13.9188 5.12995 14.6426 5.87468 15.2323C6.6194 15.8222 7.45648 16.2234 8.38593 16.4359ZM8.21593 6.93921H11.7834C11.6061 6.28324 11.3672 5.65705 11.0668 5.06067C10.7663 4.46442 10.4106 3.89455 9.99968 3.35108C9.58509 3.88303 9.22849 4.45004 8.92988 5.05212C8.63127 5.65421 8.39329 6.28324 8.21593 6.93921ZM13.067 6.93921H15.8938C15.4591 6.07587 14.8707 5.34803 14.1286 4.75567C13.3867 4.16317 12.5483 3.76601 11.6134 3.56421C11.9488 4.08449 12.233 4.62851 12.4659 5.19629C12.6988 5.76421 12.8992 6.34518 13.067 6.93921Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artera {
        border-color: #1D1D1D;
    }
    header.fixed .tnb .artera::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1875 12.8125V2.1875H7.25953V3.125H3.125V11.875H11.875V7.74047H12.8125V12.8125H2.1875ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artera:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1875 12.8125V2.1875H7.25953V3.125H3.125V11.875H11.875V7.74047H12.8125V12.8125H2.1875ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 415px;
        background-color: #fff;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/

@media screen and (max-width:1300px) and (min-width:1025px) {
    header .tnb .lang {
        margin-right: 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 115px;
    }
}/*media*/
@media screen and (max-width:1024px){ /*1024px 이하 header 100px 모바일버전*/
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.8584V9.46905H17V10.8584H0ZM0 6.3335V4.94394H8.5H17V6.3335H0ZM0 1.8084V0.419067H17V1.8084H0Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.8584V9.46905H17V10.8584H0ZM0 6.3335V4.94394H8.5H17V6.3335H0ZM0 1.8084V0.419067H17V1.8084H0Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #1D1D1D;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto; /* 좌우스크롤 바는 금지, 세로스크롤바는 때에 따라 생김*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 20px;
        font-weight: 600;
        padding: 0 20px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 18px;
        top: 18px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_321' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect y='24' width='24' height='24' transform='rotate(-90 0 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_321)'%3E%3Cpath d='M17.6542 10.0001L12.0004 15.6538L6.34668 10.0001L7.40043 8.94631L12.0004 13.5463L16.6004 8.94631L17.6542 10.0001Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #C1121F;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_333' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_333)'%3E%3Cpath d='M6.34582 13.9999L11.9996 8.34619L17.6533 13.9999L16.5996 15.0537L11.9996 10.4537L7.39957 15.0537L6.34582 13.9999Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a > span::after {
        position: absolute;
        right: -11px;
        top: -2px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #C1121F;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #F3F3F3;
        padding: 20px 45px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 15px;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li.active > a {
        color: #C1121F;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 16px; 
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 1px;
        top: 8px;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.89551 11.1041V1.89575H6.29127V2.70825H2.70801V10.2916H10.2913V6.70832H11.1038V11.1041H1.89551ZM5.26427 8.30611L4.69349 7.73532L9.72056 2.70825H7.58301V1.89575H11.1038V5.41658H10.2913V3.27903L5.26427 8.30611Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_346' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_346)'%3E%3Cpath d='M6.40043 18.6537L5.34668 17.5999L10.9467 11.9999L5.34668 6.39994L6.40043 5.34619L12.0004 10.9462L17.6004 5.34619L18.6542 6.39994L13.0542 11.9999L18.6542 17.5999L17.6004 18.6537L12.0004 13.0537L6.40043 18.6537Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 20px;
        top: 40px;
        color: #1D1D1D;
    }
    header .tnb .lang {
        display: block;
        padding-left: 17px;
        font-weight: 700;
        margin: 2px 25px 0 0;
        position: relative;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 1px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9375 13.6058L10.9375 11.6058V13.2188H10V10H13.2188V10.9375H11.5902L13.5902 12.9375L12.9375 13.6058ZM7.5 13.4375C6.67865 13.4375 5.90677 13.2817 5.18438 12.97C4.46198 12.6583 3.83359 12.2354 3.29922 11.7011C2.76484 11.1668 2.34182 10.5385 2.03016 9.81625C1.71839 9.09396 1.5625 8.32224 1.5625 7.50109C1.5625 6.67984 1.71833 5.90792 2.03 5.18531C2.34167 4.46271 2.76464 3.83417 3.29891 3.29969C3.83318 2.76521 4.46146 2.34203 5.18375 2.03016C5.90604 1.71839 6.67776 1.5625 7.49891 1.5625C8.32016 1.5625 9.09208 1.71839 9.81469 2.03016C10.5373 2.34182 11.1658 2.76484 11.7003 3.29922C12.2348 3.83359 12.658 4.46198 12.9698 5.18437C13.2816 5.90677 13.4375 6.67865 13.4375 7.5C13.4375 7.68833 13.4286 7.87661 13.4108 8.06484C13.393 8.25318 13.3662 8.44151 13.3305 8.62984H12.3678C12.4119 8.44151 12.4449 8.25318 12.4669 8.06484C12.489 7.87661 12.5 7.68833 12.5 7.5C12.5 7.27292 12.485 7.04589 12.455 6.81891C12.4249 6.59182 12.3778 6.36615 12.3138 6.14188H9.99031C10.0296 6.36615 10.0581 6.59182 10.0758 6.81891C10.0934 7.04589 10.1022 7.27292 10.1022 7.5C10.1022 7.68833 10.0959 7.87661 10.0833 8.06484C10.0706 8.25318 10.0516 8.44151 10.0264 8.62984H9.08891C9.11422 8.44151 9.13318 8.25318 9.14578 8.06484C9.15839 7.87661 9.16469 7.68833 9.16469 7.5C9.16469 7.27292 9.15589 7.04589 9.13828 6.81891C9.12057 6.59182 9.09214 6.36615 9.05297 6.14188H5.94703C5.90787 6.36615 5.87943 6.59198 5.86172 6.81938C5.84411 7.04677 5.83531 7.27417 5.83531 7.50156C5.83531 7.72885 5.84411 7.95568 5.86172 8.18203C5.87943 8.40849 5.90787 8.63385 5.94703 8.85813H8.24516V9.79563H6.16219C6.30073 10.2873 6.47958 10.759 6.69875 11.2108C6.91802 11.6624 7.1851 12.0878 7.5 12.4867C7.68833 12.4867 7.87662 12.4757 8.06485 12.4537C8.25318 12.4317 8.44151 12.4102 8.62984 12.3894V13.3402C8.44151 13.361 8.25318 13.3824 8.06485 13.4044C7.87662 13.4265 7.68833 13.4375 7.5 13.4375ZM2.68625 8.85813H5.00969C4.97042 8.63385 4.94193 8.40802 4.92422 8.18062C4.90661 7.95323 4.89781 7.72583 4.89781 7.49844C4.89781 7.27115 4.90661 7.04432 4.92422 6.81797C4.94193 6.59151 4.97042 6.36615 5.00969 6.14188H2.68625C2.62219 6.36615 2.5751 6.59198 2.545 6.81938C2.515 7.04677 2.5 7.27417 2.5 7.50156C2.5 7.72885 2.515 7.95568 2.545 8.18203C2.5751 8.40849 2.62219 8.63385 2.68625 8.85813ZM3.07938 5.20438H5.19672C5.30432 4.75083 5.4475 4.31213 5.62625 3.88828C5.8049 3.46432 6.02604 3.05927 6.28969 2.67313C5.58854 2.82854 4.95974 3.1274 4.40328 3.56969C3.84672 4.01198 3.40542 4.55688 3.07938 5.20438ZM6.28969 12.3269C6.03813 11.9367 5.82198 11.5296 5.64125 11.1058C5.46052 10.6819 5.31328 10.2452 5.19953 9.79563H3.07938C3.40542 10.4391 3.84771 10.9819 4.40625 11.4242C4.96479 11.8666 5.5926 12.1675 6.28969 12.3269ZM6.16219 5.20438H8.83781C8.70479 4.7124 8.52563 4.24276 8.30031 3.79547C8.075 3.34828 7.80823 2.92089 7.5 2.51328C7.18906 2.91224 6.92162 3.3375 6.69766 3.78906C6.4737 4.24062 6.29521 4.7124 6.16219 5.20438ZM9.80047 5.20438H11.9206C11.5946 4.55688 11.1533 4.01099 10.5967 3.56672C10.0403 3.12234 9.41146 2.82448 8.71031 2.67313C8.96188 3.06333 9.175 3.47135 9.34969 3.89719C9.52438 4.32312 9.67464 4.75885 9.80047 5.20438Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 90px;
        height: 21px;
        line-height: 20px;
        border: 1px solid #1D1D1D;
        border-radius: 13px;
        padding-left: 12px;
        position: relative;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 11px;
        height: 11px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.60449 9.39579V1.60413H5.32398V2.29163H2.29199V8.70829H8.70866V5.6763H9.39616V9.39579H1.60449ZM4.45498 7.02827L3.97201 6.5453L8.22569 2.29163H6.41699V1.60413H9.39616V4.58329H8.70866V2.77459L4.45498 7.02827Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
        align-items: center;
    }
}/*media*/
@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 12px;
    }
    header .logo a {
        width: 75px;
        height: 24px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    header .gnb .gnb_open::before {
        width: 17px;
        height: 11px;
    }
    header .gnb .gnb_close::before {
        width: 20px;
        height: 20px;
    }
    header .tnb {
        top: 15px;
    }
    header .tnb .artera::after {
        right: 11px;
    }
}/*media*/
footer {
    padding: 65px 0 86px 0;
    color: rgba(255,255,255,0.8);
    background-color: #003049;
}
footer .wrapper {
    position: relative; /* family_site , youtube 정렬 기준*/
}
footer .youtube {
    position: absolute;
    right: 220px;
    top: 0;
}
footer .youtube a {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #CCD6DB;
    font-size: 0;
    line-height: 0;
    position: relative;
}
footer .youtube a::before {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -0);
    width: 22px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33_335)'%3E%3Cpath d='M22 4.70008C22 2.10142 19.8365 0 17.1746 0H4.82541C2.16354 0 0 2.10734 0 4.70008V10.294C0 12.8927 2.16354 14.9941 4.82541 14.9941H17.1685C19.8365 14.9941 21.9939 12.8867 21.9939 10.294V4.70008H22ZM14.7376 7.92028L9.20111 10.59C8.98232 10.7024 8.24696 10.5485 8.24696 10.3118V4.83623C8.24696 4.59353 8.9884 4.43962 9.20718 4.55801L14.5066 7.36385C14.7315 7.48816 14.9624 7.80189 14.7376 7.92028Z' fill='%23003049'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33_335'%3E%3Crect width='22' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
    width: 183px;
}
footer .family_site button {
    width: 100%;
    height: 36px;
    background-color: #003049;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: left;
    padding-left: 18px;
    position: relative;
}
footer .family_site button::after {
    position: absolute;
    right: 19px;
    top: 14px;
    width: 10px;
    height: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.595703 4.74994L4.99945 0.346191L9.4032 4.74994H0.595703Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site button.family_close::after {
    transform: rotate(180deg);
}
footer .family_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
    background-color: #003049;
    padding: 18px 27px;
}
footer .family_site ul li a {
    display: block;
    line-height: 2;
}
footer .family_site .family_close {
    display: none;
}
footer .family_site.open .family_open {
    display: none;
}
footer .family_site.open .family_close {
    display: block;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 37px;
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -19px;
    top: 6px;
    width: 1px;
    height: 8px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_nav ul li.privacy {
    font-weight: 700;
}
footer .copyright {
    margin-top: 28px;
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:1024px){
    footer .youtube {
        right: 200px;
    }
}
@media screen and (max-width:768px) {
    footer {
        padding: 0 0 70px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: -17px;
        text-align: center;
    }
    footer .youtube a {
        display: inline-block;
        width: 192px;
        border-radius: 18px;
        background-color: #EDEDED;
        font-size: 13px;
        line-height: 36px;
        color: #003049;
        padding-left: 28px;
    }
    footer .youtube a::before {
        left: 21px;
        transform: translate(0, 0);
    }
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
    }
    footer .f_nav {
        margin: 22px 0 0 0;
    }
    footer .f_nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    footer .f_nav ul li {
        margin: 10px 30px 0 0;
        position: relative;
    }
    footer .copyright {
        margin-top: 20px;
    }
}

/* 서브페이지 레이아웃 코딩 */
.sub_visual {
    height: 400px;
    background: url(../images/common/sub_visual01.png) no-repeat center center / cover;
    color: #fff;
}
.sub_visual.bg1 {
    background-image: url(../images/common/sub_visual01.png);
}
.sub_visual.bg2 {
    background-image: url(../images/common/sub_visual02.png);
}
.sub_visual.bg3 {
    background-image: url(../images/common/sub_visual03.png);
}
.sub_visual.bg4 {
    background-image: url(../images/common/sub_visual04.png);
}
.sub_visual.bg5 {
    background-image: url(../images/common/sub_visual05.png);
}
.sub_visual strong {
    display: block;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    padding: 189px 0 4px 0;
}
.sub_visual p {
    font-size: 20px;
    color: rgba(255,255,255,0.8);
}
.sub_menu {
    background-color: #C1121F;
    color: rgba(255,255,255,0.8);
    height: 50px;
}
.sub_menu .wrapper {
    display: flex;
    justify-content: space-between;
}
.sub_menu .lnb ul {
    display: flex;
}
.sub_menu .lnb ul li a {
    display: block;
    line-height: 50px;
    padding: 0 17px;
}
.sub_menu .lnb ul li:first-child a {
    padding-left: 0;
}
.sub_menu .lnb ul li.active a, .sub_menu .lnb ul li a:hover {
    font-weight: 700;
    color: #fff;
    position: relative;
}
.sub_menu .lnb ul li.active a::after, .sub_menu .lnb ul li a:hover::after {
    position: absolute;
    right: 9px;
    top: 12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.sub_menu .breadcrumb ol {
    display: flex;
}
.sub_menu .breadcrumb ol li {
    margin-right: 25px;
    position: relative;
}
.sub_menu .breadcrumb ol li::after {
    position: absolute;
    right: -19px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_169_66' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_169_66)'%3E%3Cpath d='M3.3394 9.02233L2.74805 8.43098L6.17909 4.99994L2.74805 1.56889L3.3394 0.977539L7.3618 4.99994L3.3394 9.02233Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.sub_menu .breadcrumb ol li:last-child {
    margin-right: 0;
}
.sub_menu .breadcrumb ol li:last-child::after {
    display: none;
}
.sub_menu .breadcrumb ol li a {
    display: block;
    line-height: 50px;
}
.sub_menu .breadcrumb ol li.now a {
    text-decoration: underline;
    text-underline-offset: 5px
}
.sub_menu .breadcrumb ol li.home a {
    font-size: 0;
    line-height: 0;
    width: 11px;
    height: 50px;
    position: relative;
}
.sub_menu .breadcrumb ol li.home a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.375 12.6707V4.23319L6 0L11.625 4.23319V12.6707H7.42781V7.6515H4.57219V12.6707H0.375Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
.sub_contents {
    min-height: 400px;
    /* 콘텐츠 최소 높이 - 아직 콘텐츠를 코딩하지 않았을때 페이지만 생성되어있어서 페이지의 여백이 없으면 디자인이 이상하게 보임. 이런걸 최소화하기 위해 최소높이를 줌. */
}
.sub_contents .sub_title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #C1121F;
    margin: 145px 0 2px 0;
}
.sub_contents .sub_title p {
    font-weight: 300;
    font-size: 45px;
    line-height: 1.1;
}
@media screen and (max-width:1300px){
    .sub_visual p {
        font-size: 17px;
    }
    .sub_contents .sub_title h2 {
        font-size: 17px;
    }
    .sub_contents .sub_title p {
        font-size: 40px;
    }
}
@media screen and (max-width:1024px){
    .sub_visual strong {
        font-size: 40px;
    }
    .sub_menu .lnb ul li a {
        padding: 0 12px;
    }
    .sub_menu .breadcrumb {
        display: none;
    }
}
@media screen and (max-width:768px){
    .sub_visual {
        height: 250px;
    }
    .sub_visual strong {
        font-size: 35px;
        font-weight: 600;
        padding: 103px 0 4px 0;
    }
    .sub_visual p {
        font-size: 13px;
    }
    .sub_menu {
        height: 44px;
        position: relative;
    }
    .sub_menu .wrapper { /* 만약 모바일에서 메뉴수가 많아 한번에 모두 표현되지 않는다면 가로스크롤바 on */
        overflow-x: auto; /* 내부콘텐츠가 감싸는 요소보다 클 때 가로스크롤바 생성  */
    }
    .sub_menu::before {
        position: absolute;
        right: 20px;
        top: 0;
        width: 50px;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(193, 18, 31, 0), rgba(193, 18, 31, 1));
        content: ""
    }
    .sub_menu::after {
        position: absolute;
        right: 12px;
        top: 15px;
        width: 12px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.87812 15.2115L0 11.3334L3.87812 7.45524L4.76917 8.33337L2.39417 10.7084H15V11.9584H2.39417L4.76917 14.3334L3.87812 15.2115ZM11.9552 8.54482L11.0642 7.6667L13.4392 5.2917H0.833333V4.0417H13.4392L11.0642 1.6667L11.9552 0.788574L15.8333 4.6667L11.9552 8.54482Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        content: "";
    }
    .sub_menu .wrapper::-webkit-scrollbar {
        height: 0;
        background-color: transparent;
    }
    .sub_menu .wrapper::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .sub_menu .wrapper::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .sub_menu .lnb {
        margin-right: 33px; /* 오른쪽 그라데이션 준 만큼 여백을 줘야 마지막 요소가 그라데이션에 덮이지않고 깔끔하게 보임 */
    }
    .sub_menu .lnb ul li a {
        line-height: 44px;
        padding: 0 7px;
    }
    .sub_menu .lnb ul li.active a::after, .sub_menu .lnb ul li a:hover::after {
        right: 3px;
        top: 10px;
        width: 3px;
        height: 3px;
    }
    .sub_contents .sub_title h2 {
        font-size: 15px;
        margin: 63px 0 4px 0;
    }
    .sub_contents .sub_title p {
        font-size: 30px;
    }
}
