@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visal_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visal_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visal_bg3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/main/visal_bg4.png);
}
.visual ul li strong {
    display: block;
    font-size: 20px;
    color: rgba(255,255,255, 0.8);
    margin: 35vh 0 0 0;
}
.visual ul li h3 {
    margin: 10px 0 0 0;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.1;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 10;
}
.visual .btn_wrap .paging {
    width: auto;
    display: flex;
    margin-bottom: 10px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /*현재 선택되지않은 불릿*/
    width: 107px;
    height: 4px;
    border-radius: 0;
    background-color: rgba(255,255,255, 0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /*현재 선택된 불릿*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 유지 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0; }
    100% { width: 100%; }
}
.visual .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    margin-right: 20px;
    position: relative;
}
.visual .btn_wrap button:last-child {
    margin-right: 0;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M11.0533 11.9999L15.6533 7.39994L14.5996 6.34619L8.94582 11.9999L14.5996 17.6537L15.6533 16.5999L11.0533 11.9999Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_stop::before {    
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M13.25 18.5V5.5H18.5V18.5H13.25ZM5.5 18.5V5.5H10.75V18.5H5.5ZM14.75 17H17V7H14.75V17ZM7 17H9.25V7H7V17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_play {
    display: none;
}
.visual .btn_wrap .btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M8.5 18.0961V5.90405L18.0768 12.0001L8.5 18.0961ZM10 15.3501L15.2693 12.0001L10 8.65005V15.3501Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M12.9467 11.9999L8.34668 7.39994L9.40043 6.34619L15.0542 11.9999L9.40043 17.6537L8.34668 16.5999L12.9467 11.9999Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1300px){
    .visual ul li strong {
        font-size: 15px;
    }
    .visual ul li h3 {
        font-size: 50px;
    }
}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){/* 모바일 디자인적용 */
    .visual ul li {
        height: 550px;
        min-height: auto;
    }
    .visual ul li strong {
        display: none;
    }
    .visual ul li h3 {
        margin: 150px 0 0 0;
        font-size: 35px;
    }
    .visual ul li h3 br {
        display: none;
    }
    .visual .btn_wrap {
        display: flex;
        align-items: center;
    }
    .visual .btn_wrap .paging {
        margin-bottom: 0;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /*현재 선택되지않은 불릿*/
        width: 50px;
    }
    .visual .btn_wrap button {
        width: 15px;
        height: 15px;
        margin-right: 0px;
        margin-left: 20px;
    }
    .visual .btn_wrap .btn_prev, .visual .btn_wrap .btn_next {
        display: none;
    }
}
@media screen and (max-width:480px){

}

section .tit h2 {
    font-size: 20px;
    font-weight: 700;
    color: #C1121F;
    margin: 170px 0 0 0;
}
section .tit h2 span {
    position: relative;
}
section .tit h2 span::after {
    position: absolute;
    right: -17px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.35727C0 6.57842 0.0321721 6.80762 0.120659 7.02476C0.510805 7.98981 1.50427 8.58492 2.76722 8.08229C3.06887 7.96166 11.4228 4.59605 11.4228 4.59605C11.4228 4.59605 8.13273 12.9357 8.00804 13.2453C7.52941 14.4396 8.10457 15.5212 9.08195 15.8831C9.29914 15.9635 9.52438 16.0037 9.7456 15.9997C10.546 15.9957 11.2499 15.5252 11.5958 14.5843C11.6481 14.4436 15.7627 3.14848 15.8512 2.87907C15.9035 2.71822 16 2.34025 16 2.07888C16 1.51995 15.7949 0.993197 15.3967 0.595114C15.0065 0.201052 14.4837 0 13.9326 0C13.6631 0 13.446 0.0482525 13.1161 0.1528C12.9191 0.217136 2.31272 4.16178 1.40774 4.49955C0.502765 4.83731 -2.20933e-06 5.5611 0.00401991 6.35727' fill='%23C1121F'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 45px;
    font-weight: 300;
    color: #1d1d1d;
    line-height: 1.1;
    margin: 9px 0 48px 0;
}
.biz .list ul {
    display: flex;
    gap: 2px;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 0.5s;
}
.biz .list ul li.arch {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.civ {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.hou {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.plant {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #003049;
    opacity: 0.2;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 700px;
    position: relative;
    z-index: 10;
}
.biz .list ul li a .inner {
    /* a기준으로 정렬 - 마우스를 오버했을때 효과를 부드럽게 주기 위해 absolute */
    position: absolute;
    left: 10%;
    bottom: 30px;
    width: calc(100% - 70px);
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-weight: 700;
}
.biz .list ul li a .inner h3 {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.1;
    margin: 3px 0 8px 0;
    transition: 0.5s;
}
.biz .list ul li a .inner p {
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width:1025px) {
    /* li에 오버했을 때 */
    .biz .list ul li.on {
        width: 70%;
    }
    .biz .list ul li.on::before {
        opacity: 0.1;
    }
    .biz .list ul li.off::before {
        opacity: 0.5;
    }
    .biz .list ul li.off a {
        opacity: 0.8;
    }
    .biz .list ul li.on a .inner {
        bottom: 80px;
    }
    .biz .list ul li.on a .inner h3 {
        font-weight: 700;
        font-size: 45px;
        margin-top: 0;
    }
    .biz .list ul li.on a .inner p {
        opacity: 1;
    }
}
@media screen and (min-width:1025px) and (max-width:1300px){
    .biz .list ul li.on a .inner h3 {
        font-size: 35px;
    }
}
@media screen and (max-width:1300px){
    section .tit h2 {
        font-size: 17px;
    }
    section .tit p {
        font-size: 40px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 30px;
        margin: 3px 0 5px 0;
        white-space: nowrap;
        overflow: hidden;
    } 
}
@media screen and (max-width:1024px){
    section .tit p {
        margin: 4px 0 40px 0;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: 100%;
        margin: 2px 0;
    }
    .biz .list ul li a {
        height: 220px;
    }
    .biz .list ul li a .inner {
        left: 20px;
        bottom: 5px;
        width: calc(100% - 40px);
    }
    .biz .list ul li a .inner strong {
        font-weight: 600;
    }
    .biz .list ul li a .inner h3 {
        font-size: 30px;
        margin: 2px 0 0 0;
    }
    .biz .list ul li a .inner h3 br {
        display: none;
    }
}/* media */
@media screen and (max-width:768px) {
    section .tit h2 {
        font-size: 15px;
    }
    section .tit p {
        font-size: 30px;
        margin: 4px 0 23px 0;
    }
    .biz .list ul li a .inner h3 {
        font-size: 25px;
        margin: 1px 0 0 0;
    }
    .biz .list ul li a {
        height: 150px;
    }
}
section.news .tit h2 {
    margin: 180px 0 0 0;
}
.news .list ul li {
    width: 404px;
}
.news .list ul li a {
    display: block;
    border-top: 1px solid #1D1D1D;
}
.news .list ul li a .date {
    display: block;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 40px;
    color: #1D1D1D;
    margin: 27px 0 27px 0;
}
.news .list ul li a h3 {
    color: #1D1D1D;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.1;
    height: 2.2em; /* 행간 * 줄수  */
    overflow: hidden;
    margin: 0 0 17px 0;
}
.news .list ul li a p {
    font-family: 'Pretendard';
    color: #666;
    line-height: 1.3;
    height: 3.8em;
    overflow: hidden;
}
/*.news .list ul li a:hover p { 
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: rgba(102,102,102,0.3)
}*/
.news .list ul li a:hover {
    border-top: 1px solid #C1121F;
    box-shadow: 0px 5px 10px -12px #C1121F inset;
}
.news .ctrl_bar {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 141px 0;
}
.news .ctrl_bar .scroll {
    position: relative;
    width: calc(100% - 127px);
}
.news .ctrl_bar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 3px;
    z-index: 50;
    height: 6px;
    width: 100%;
    border-radius: 0;
    background: #ededed;
}
.news .ctrl_bar .scroll .swiper-scrollbar-drag {
    background: #003049;
    border-radius: 0;
    cursor: pointer;
}
.news .ctrl_bar .scroll .swiper-scrollbar-drag:hover {
    background: #C1121F;
}
.news .ctrl_bar .btn_wrap .more {
    display: block;
    line-height: 1.1;
    padding-right: 14px;
    margin-top: 2px;
    position: relative;
}
.news .ctrl_bar .btn_wrap .more::after {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.66667 4.33333H0V3.66667H3.66667V0H4.33333V3.66667H8V4.33333H4.33333V8H3.66667V4.33333Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap .more:hover {
    color: #C1121F;
    font-weight: 600;
}
.news .ctrl_bar .btn_wrap .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.53846 4.46154H0V3.53846H3.53846V0H4.46154V3.53846H8V4.46154H4.46154V8H3.53846V4.46154Z' fill='%23C1121F'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px) {
    .news .list ul li a .date {
        font-size: 35px;
    }
    .news .list ul li a h3 {
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    .news .list ul li {
        width: 264px;
    }
    .news .list ul li a .date {
        font-size: 30px;
        margin: 15px 0 14px 0;
    }
    .news .list ul li a h3 {
        font-size: 18px;
        margin: 0 0 8px 0;
    }
    .news .ctrl_bar {
        display: block;
        margin: 55px 0 89px 0;
    }
    .news .ctrl_bar .scroll {
        width: 100%;
    }
    .news .ctrl_bar .scroll .swiper-scrollbar {
        bottom: 0;
    }
    .news .ctrl_bar .btn_wrap {
        padding: 21px 0 0 0;
    }
    .news .ctrl_bar .btn_wrap .more {
        width: 100%;
        padding-right: 10px;
        text-align: right;
    }
    .news .ctrl_bar .btn_wrap .more::after {
        width: 7px;
        height: 7px;
    }
}
@media screen and (max-width:480px) {
    section.news .tit em {
        display: none;
    }
}
.service {
    padding: 99px 0 103px 0;
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
}
section.service .tit h2 {
    margin: 0;
}
section.service .tit p {
    color: #fff;
    margin: 9px 0 35px 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /* 
        100/li갯수 = 100/3 = 33.33%
        중간여백 총합 24*2 = 48 / li갯수 = 48/3 =16
        calc(33.33% - 16px) 
    */
}
.service .list ul li a {
    display: block;
    height: 109px;
    background-color: #fff;
    transition: 0.3s;
}
.service .list ul li:hover a {
    transform: translate(-6px, -10px);
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.2);
}
/* a에 오버를 주면 애니메이션때문에 a범위가 변경되어 경계에 오버를 할 시 떨리는 오류가 발생함
    그래서 오류 방지를 위해 움직이지않는 li에게 오버를 적용 
    = hover를 준 요소는 움직이면 x */
.service .list ul li a .inner {
    margin: 0 30px 0 33px ;
    padding: 30px 0 0 74px;
    position: relative;
}
.service .list ul li a .inner::before {
    position: absolute;
    left: 10px;
    top: 27px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.service .list ul li.egs a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6253 44.7916V36.4583H1.96387L10.1045 23.9583H6.17012L18.7503 5.96973L25.0003 14.9281L31.2503 5.96973L43.8305 23.9583H39.8962L48.0368 36.4583H34.3753V44.7916H28.1253V36.4583H21.8753V44.7916H15.6253ZM33.5217 33.3333H42.316L34.143 20.8333H37.8128L31.2503 11.4583L26.9316 17.6202L31.3305 23.9583H27.3962L33.5217 33.3333ZM7.6847 33.3333H29.816L21.643 20.8333H25.3128L18.7503 11.4583L12.1878 20.8333H15.8576L7.6847 33.3333ZM7.6847 33.3333H15.8576H12.1878H25.3128H21.643H29.816H7.6847ZM33.5217 33.3333H27.3962H31.3305H26.9316H37.8128H34.143H42.316H33.5217Z' fill='%23C1121F'/%3E%3C/svg%3E%0A");
}
.service .list ul li.inv a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_211' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_211)'%3E%3Cpath d='M5.32943 37.1238L2.78516 35.277L12.5607 19.6316L18.8107 26.9233L27.1039 13.4619L32.0799 20.9301C31.4817 20.978 30.9202 21.0601 30.3956 21.1764C29.8706 21.2924 29.3477 21.4492 28.8268 21.6467L27.2206 19.2473L19.2638 32.1921L12.9617 24.8483L5.32943 37.1238ZM44.9487 47.1759L38.118 40.3848C37.4635 40.8577 36.7409 41.2157 35.9503 41.4587C35.1596 41.7018 34.3397 41.8233 33.4904 41.8233C31.1668 41.8233 29.197 41.0153 27.581 39.3994C25.965 37.7834 25.157 35.8136 25.157 33.49C25.157 31.1664 25.965 29.1966 27.581 27.5806C29.197 25.9646 31.1668 25.1566 33.4904 25.1566C35.814 25.1566 37.7838 25.9646 39.3997 27.5806C41.0157 29.1966 41.8237 31.1664 41.8237 33.49C41.8237 34.3528 41.6989 35.1829 41.4492 35.9801C41.1992 36.7773 40.8312 37.5138 40.345 38.1895L47.1763 44.9483L44.9487 47.1759ZM33.4904 38.6983C34.9487 38.6983 36.1813 38.1948 37.1883 37.1879C38.1952 36.1809 38.6987 34.9483 38.6987 33.49C38.6987 32.0316 38.1952 30.799 37.1883 29.7921C36.1813 28.7851 34.9487 28.2816 33.4904 28.2816C32.032 28.2816 30.7994 28.7851 29.7924 29.7921C28.7855 30.799 28.282 32.0316 28.282 33.49C28.282 34.9483 28.7855 36.1809 29.7924 37.1879C30.7994 38.1948 32.032 38.6983 33.4904 38.6983ZM37.7253 21.6712C37.2256 21.4733 36.7135 21.311 36.1888 21.1842C35.6638 21.0575 35.1195 20.9768 34.556 20.9421L44.6721 4.9082L47.2164 6.75508L37.7253 21.6712Z' fill='%23C1121F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_287' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_287)'%3E%3Cpath d='M22.917 24.3587C20.9118 24.3587 19.1953 23.6448 17.7675 22.2171C16.3394 20.7889 15.6253 19.0723 15.6253 17.0671C15.6253 15.0618 16.3394 13.3454 17.7675 11.9176C19.1953 10.4895 20.9118 9.77539 22.917 9.77539C24.9222 9.77539 26.6387 10.4895 28.0665 11.9176C29.4946 13.3454 30.2087 15.0618 30.2087 17.0671C30.2087 19.0723 29.4946 20.7889 28.0665 22.2171C26.6387 23.6448 24.9222 24.3587 22.917 24.3587ZM22.917 21.2337C24.0628 21.2337 25.0437 20.8257 25.8597 20.0098C26.6757 19.1938 27.0837 18.2129 27.0837 17.0671C27.0837 15.9212 26.6757 14.9403 25.8597 14.1243C25.0437 13.3084 24.0628 12.9004 22.917 12.9004C21.7712 12.9004 20.7903 13.3084 19.9743 14.1243C19.1583 14.9403 18.7503 15.9212 18.7503 17.0671C18.7503 18.2129 19.1583 19.1938 19.9743 20.0098C20.7903 20.8257 21.7712 21.2337 22.917 21.2337ZM45.1206 47.3155L39.0149 41.2098C38.3125 41.6532 37.5712 42.0004 36.791 42.2514C36.0111 42.5025 35.2073 42.628 34.3795 42.628C32.0798 42.628 30.1286 41.8252 28.5258 40.2197C26.9234 38.6138 26.1222 36.6639 26.1222 34.3702C26.1222 32.0764 26.925 30.1282 28.5305 28.5254C30.1364 26.923 32.0863 26.1217 34.38 26.1217C36.6738 26.1217 38.622 26.9242 40.2248 28.529C41.8272 30.1339 42.6285 32.0825 42.6285 34.3749C42.6285 35.2054 42.5029 36.0106 42.2519 36.7905C42.0009 37.5707 41.6536 38.312 41.2102 39.0145L47.316 45.1202L45.1206 47.3155ZM34.3753 39.503C35.8205 39.503 37.0364 39.0096 38.0232 38.0228C39.01 37.036 39.5035 35.82 39.5035 34.3749C39.5035 32.9297 39.01 31.7138 38.0232 30.727C37.0364 29.7402 35.8205 29.2467 34.3753 29.2467C32.9302 29.2467 31.7142 29.7402 30.7274 30.727C29.7406 31.7138 29.2472 32.9297 29.2472 34.3749C29.2472 35.82 29.7406 37.036 30.7274 38.0228C31.7142 39.0096 32.9302 39.503 34.3753 39.503ZM7.29199 40.2244V35.6249C7.29199 34.5912 7.56387 33.641 8.10762 32.7744C8.65102 31.9077 9.39685 31.2339 10.3451 30.753C11.9823 29.9304 13.9554 29.2 16.2644 28.5619C18.5734 27.9233 21.1021 27.6575 23.8503 27.7645C23.5406 28.2558 23.2717 28.7617 23.0436 29.2822C22.8158 29.803 22.6347 30.3428 22.5003 30.9014C20.2166 30.9282 18.1387 31.2306 16.2665 31.8087C14.3942 32.3869 12.9092 32.9645 11.8113 33.5415C11.3706 33.7551 11.0281 34.048 10.7837 34.4202C10.5392 34.7924 10.417 35.194 10.417 35.6249V37.0994H22.2602C22.3804 37.6494 22.5446 38.1881 22.7529 38.7155C22.9613 39.2433 23.2069 39.7462 23.4899 40.2244H7.29199Z' fill='%23C1121F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a .inner h3 {
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 1.1;
}
@media screen and (max-width:1300px) {
    .service .list ul li a .inner h3 {
        font-size: 21px;
    }
    .service .list ul li a .inner p {
        font-size: 14px;
    }
    .service .list ul li a .inner {
        margin: 0 25px 0 20px ;
        padding: 30px 0 0 74px;
    }
    .service .list ul li a .inner p em {
        display: none;
    } 
}
@media screen and (max-width:1024px) { /*모바일~*/
    .service {
        padding: 70px 0 85px 0;
    }
    section.service .tit p {
        margin: 4px 0 25px 0;
    }
    .service .list ul {
        display: block;
    }
    .service .list ul li {
        width: auto;
        margin-bottom: 10px;
    }
    .service .list ul li:hover a {
        transform: translate(-5px, -5px);
    }
    .service .list ul li a .inner {
        padding: 30px 0 0 95px;
    }
    .service .list ul li a .inner p em {
        display: inline-block;
    } 
}
@media screen and (max-width:768px) {
    .service .list ul li a {
        height: 80px;
    }
    .service .list ul li:hover a {
        transform: translate(-1px, -1px);
    }
    .service .list ul li a .inner {
        margin: 0 22px 0 22px ;
        padding: 22px 0 0 48px;
    }
    .service .list ul li a .inner::before {
        left: 0;
        top: 22px;
        width: 32px;
        height: 32px;
    }
    .service .list ul li a .inner h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .service .list ul li a .inner p {
        font-size: 13px;
    }
}
@media screen and (max-width:480px) {
    .service .list ul li a .inner p em {
        display: none;
    }
}